[2018-02-07 17:33] spitzerr opened #1 "Relational DataStore cannot connect to Server"
There is no check for **Relational** DataStore Type to open the Server Firewall.

To reproduce see the following deployment:
[code]
To fix this ArcGISConfigure.ps1 should remove the check of DataStoreType **SpatiotTemporal**
Original:
[code]
Fixed:
[code]

[2018-02-07 17:59] nshampur commented on #1
@spitzerr .. should that be and or condition

`$_.Role -icontains 'DataStore' -or $_.DataStoreTypes -icontains 'SpatiotTemporal'`

[2018-02-07 18:15] spitzerr commented on #1
I think the right part should be removed at all?
Any DataStore needs to connect to Server admin? No additional check of datastoretype is needed then.

On Wed, Feb 7, 2018 at 6:59 PM +0100, "Nikhil Shampur" <notifications@github.com<mailto:notifications@github.com>> wrote:

@spitzerr<https://github.com/spitzerr> .. should that be and or condition

$_.Role -icontains 'DataStore' -or $_.DataStoreType

[2018-02-07 18:18] nshampur commented on #1
I also see a typo in the DataStoreTypes (extra T).  We'll review.   Could you submit a PR?
Thanks

[2018-02-07 18:24] spitzerr commented on #1
I will submit a PR
. I saw the typo as well but it will be removed by the fix anyways.

[2018-02-08 19:53] nshampur commented on #1
Merged.

[2018-02-08 19:53] #1 closed

[2018-02-09 12:24] spitzerr opened #3 "Portal not HTTPS only"
Setup: Portal and PortalWebadaptor are deployed at different machines.

The Webadaptor of Portal is configured through Port 7443 and Firewall Opens only Port 7443, which is SSL Port.
If you try to Access Portal Website through WebAdaptor it switches to HTTP (no SSL) at several sites (e.g. after Login). The Webadaptor then tries to reach the Portal by Port 7080 (HTTP) which is not open and states
`

[2018-02-09 12:49] spitzerr opened #4 "Allow to set Webadaptor Context via config"
Allow the Webadaptor context (e.g. server / portal) to be set by config.
Right now it's hardcoded.
Therefor it's not possible to install a Webadaptor for Hosting-Server and GeneralPurpose-Server on the same machine.

[2018-02-09 12:52] spitzerr opened #5 "Consider AdminAccessEnabled on Federation"
Consider the Flag AdminAccessEnabled set in config.
On Federation the private URL is set to ``` [machinename]:6443/ArcGIS ```
If the Flag AdminAccessEnabled is set to ``` true ``` the WebAdaptor-URL should be used instead.

[2018-02-10 06:35] spitzerr opened #7 "Test Service_Account always false"
Test for Filepermissions of Service_Account is always false for domain-user.

[2018-02-13 10:40] spitzerr commented on #4
Already possible
[code]

[2018-02-13 10:40] #4 closed

[2018-02-15 01:45] nshampur commented on #7
@spitzerr  ..
we see the bug

https://github.com/Esri/arcgis-powershell-dsc/blob/master/Modules/ArcGIS/DSCResources/ArcGIS_Service_Account/ArcGIS_Service_Account.psm1#L371
Where {$_.IdentityReference -ieq "$env:ComputerName\$RunAsUserName"}

Feel free to PR a fix :)

[2018-02-15 01:56] nshampur commented on #3
good find. Fix looks almost good.  We should however make sure it does not break any HTTP calls made by automation.
Can you parameterize this and set the default to match current behavior.
Our lab/test environments have firewalls disabled, so we likely missed this scenario.

[2018-02-15 06:45] spitzerr commented on #3
If we parameterize this, the Firewall-Rule for Portal should be adjusted to open Port 7080 (-> non SSL-Port) if Switch is off.

[2018-02-15 08:56] spitzerr commented on #3
I can't see any HTTP calls to Portal made by automation, so it should be fine from this perspective.

On the other hand the Firewall Rules for Portal seem a little bit messed up according to this Docu:
https://enterprise.arcgis.com/en/portal/latest/administer/linux/ports-used-by-portal-for-arcgis.htm
compared with
https://github.com/Esri/arcgis-powershell-dsc/blob/2fcd4f56ad07870cc7e788308a2a94f40

[2018-02-15 14:42] spitzerr opened #9 "server-log not writeable by domainaccount"
If the domainaccount which runs ArcGIS Server (RunAsServiceAccount) is NOT in Domain-Group ```Domain-Users``` or ```Domain-Administrators``` ArcGIS Server is not able to read/write logfiles which are located at ```c:\arcgisserver\logs``` due to insufficent permissions on this directory.

[2018-02-16 18:26] #7 closed

[2018-02-16 18:27] #3 closed

[2018-02-19 09:09] spitzerr opened #10 "Portal-Firewall rules diff from documentation"
The Firewall Rules for Portal seem a little bit messed up according to this Documentation:
https://enterprise.arcgis.com/en/portal/latest/administer/linux/ports-used-by-portal-for-arcgis.htm
compared with
https://github.com/Esri/arcgis-powershell-dsc/blob/2fcd4f56ad07870cc7e788308a2a94f40b1890d3/Modules/ArcGIS/Configuration/ArcGISConfigure.ps1#L751-L828

From my perspective following Things should

[2018-02-20 14:11] #5 closed

[2018-02-23 07:06] spitzerr commented on #7
Still not fixed. Please see PR #12 for fix

[2018-02-23 07:07] spitzerr opened #13 "Test for non-HAPortal always false"
The Test for Correct Portal Configuration is always false. As Test checks of wrong loglevels on Catalina which are only set for HA-Portal.

[2018-02-23 16:23] nshampur commented on #7
@spitzerr .. apologies for the delay.   @shailesh91 is OOF till next week and the team is busy with EPC/DevSummit prep. work.
We'll review early next week and merge the PR.  Thanks for you issue reports and quick contributions and bug fixes.

[2018-02-27 22:24] #13 closed

[2018-03-02 23:23] shailesh91 opened #16 "Support for multiple federated servers in Single Configuration"

[2018-03-02 23:23] shailesh91 opened #17 "Change Encoding to UTF-8"

[2018-03-02 23:24] shailesh91 opened #18 "Replace All Username and Password Variables with PSCredential parameter"

[2018-03-02 23:25] shailesh91 opened #19 "Fix for FileShare Creation when Not a Domain Account"

[2018-03-02 23:26] shailesh91 opened #20 "Skip Permission setting when Domain Account for Data Dir in ArcGIS Service Account Resource"

[2018-03-02 23:26] shailesh91 opened #21 "Fix for Portal Un-register Failure during portal upgrades"

[2018-03-02 23:50] #21 closed

[2018-03-02 23:50] #16 closed

[2018-03-02 23:50] #17 closed

[2018-03-02 23:50] #18 closed

[2018-03-02 23:50] #19 closed

[2018-03-02 23:50] #20 closed

[2018-03-02 23:54] shailesh91 commented on #10
- Opened 7080 in first else branch as well.
- Opening 6443 ArcGIS Server Port if ArcGIS Server is installed on that machine.
- Added Port 5703 for HA-Portal (IsMultimachinePortal)
- Port 7654 Requires Inbound and Outbound Rules as PGSQL needs for a Master-Slave Relationship
- Still Evaluating permission required on ports 7120, 7220.

[2018-03-06 07:58] spitzerr opened #24 "SSL on IIS won't work"
Please see PR #23

[2018-03-06 15:21] spitzerr opened #26 "[Enhancement] Support for ArcGIS Server behind Firewall"
To Support ArcGIS Server behind Firewall it will be necessary to Configure ArcGIS Server - Rest Servicesdirectory to Portal instead of ArcGIS Online.

[2018-03-06 17:35] #24 closed

[2018-03-07 05:55] nshampur commented on #26
@spitzerr .. After reviewing the DSC resource, I now understand the requirement viz configure ArcGIS Server to use local resources instead of ArcGIS Online.
I think the word "Offline" has a different connotation to folks. The term we use is "Disconnected Environment".  Can you please rename the DSC resource along those lines.
Also - can u rename the boolean properties for enabling JS-API and ArcGI

[2018-03-07 12:59] spitzerr commented on #26
@nshampur Thanks for your advise.
I changed the naming in PR #27 by commit https://github.com/Esri/arcgis-powershell-dsc/pull/27/commits/fc940e76883c15c2fbde0cb028e88e2c75b04943

[2018-03-07 15:34] spitzerr opened #30 "TLS only works if webadaptor and server/portal are on the same machine"
Webadaptor and Server or Portal can be on different machines. Therefore it will be necessary to Support different certificates for Webadaptor and Server or Portal. Furthermore it could be necessary to Import Root or intermediate Certificates to Portal and Server.

I'll provide PR on this soon.

[2018-03-07 19:36] shailesh91 commented on #30
@spitzerr Can you please provide use cases for SslRootOrIntermediate in Config Data?

[2018-03-07 19:56] spitzerr commented on #30
@shailesh91
It's from the documentation over here
https://enterprise.arcgis.com/en/server/latest/administer/windows/configuring-https-using-a-new-ca-signed-certificate.htm#ESRI_SECTION1_E0A984AB1249430A862B2AA6A8263FCD

If you run your own CA but cannot rollout the root certificate via AD

[2018-03-08 08:35] spitzerr commented on #30
@shailesh91  and for Portal the documentation is like this:
https://enterprise.arcgis.com/en/portal/latest/administer/windows/import-a-certificate-into-the-portal.htm#ESRI_SECTION2_C2578EF79D3B475FB04E7C30D23C0DB6

[2018-03-08 08:44] spitzerr opened #35 "Release 0.8.7 shows old version"
The Release https://github.com/Esri/arcgis-powershell-dsc/releases/tag/v0.8.7-beta Points to an old commit https://github.com/Esri/arcgis-powershell-dsc/commit/5efd6260fcf70c9e1bb116d62970dfadee6e4091 with Version 0.8.3 in ArcGIS.psd1.
Shouldn't it Point to actual master branch https://github.com/Esri/arcgis-powershell-dsc/commit/8ddcf7e4869ccf5e6de1c6b9ed40935d5bde9769 ?

[2018-03-08 12:35] spitzerr opened #36 "error on RegisterDataStore gets not cleared"
If there is an error on Registering ArcGIS DataStore to Server. The Error will not be cleared and the retry Loops out.

[2018-03-08 15:04] #36 closed

[2018-03-08 15:29] nshampur commented on #35
@spitzerr . we are evaluating the best mechanism of delivering off cycle (distinct from ArcGIS Release) patches and the use of release specific branches versus into master.  We may request that you submit PRs off the "active" development branch.  Let us know if you had preferences.

[2018-03-08 18:23] shailesh91 commented on #35
@spitzerr @nshampur the release is now pointing to the correct branch.

[2018-03-09 07:30] spitzerr commented on #35
@shailesh91 Thank you very much.

@nshampur I'd love to have a quick update-cycle for fixes and changes departed from ArcGIS Releases. To develope features, which are bound to new ArcGIS Versions like 10.6NEXT a development branch could be sufficient.
A branch per ArcGIS Version is from my perspective too much effort to merge fixes which rely to multiple versions. therefore tagging some commits as

[2018-03-11 05:25] nshampur opened #38 "Official 7-zip download location has changed"
Update
http://www.7-zip.org/a/7z938-x64.msi
to
https://osdn.net/frs/redir.php?m=pumath&f=sevenzip%2F64449%2F7z938-x64.msi

since the earlier download location now redirects to sourceforge with a download page

[2018-03-11 05:25] nshampur commented on #38
Impacts Install and WebAdaptorInstall DSC resources

[2018-03-12 14:41] spitzerr opened #39 "Test-WebAdaptor false for two Servers with likely Context"
If there are two WebAdaptors with a likely Context e.g.: `server` and `gaserver`
the Test-Webadaptor could be false.

Probably because of this if-clause:
https://github.com/Esri/arcgis-powershell-dsc/blob/1cd97d86ed7522e4e62bfcd3c5bc57491384a806/Modules/ArcGIS/DSCResources/ArcGIS_WebAdaptor/ArcGIS_WebAdaptor.psm1#L338

[2018-03-12 18:20] shailesh91 commented on #39
@spitzerr fixed.

[2018-03-12 18:20] #39 closed

[2018-03-12 18:21] shailesh91 commented on #38
@nshampur Paths have been updated.

[2018-03-12 18:21] #38 closed

[2018-03-16 09:18] spitzerr opened #42 "Support AD-UserStore"
There should be a possibility to connect ArcGIS Enterprise with an Active Directory in an automated way.

[2018-03-20 15:40] spitzerr opened #44 "Publishing Server Services Crashes"
There is only the Username passed and not the Credential. Line 111 ArcGIS_Server_Service.psm1

[2018-03-20 16:14] shailesh91 commented on #44
@spitzerr fixed.

[2018-03-20 16:14] #44 closed

[2018-03-20 16:54] spitzerr commented on #44
As it is a bug in current Code Base it should be also fixed in master. Shouldn't it?

[2018-03-20 16:57] shailesh91 commented on #44
@spitzerr It isn't documented anywhere and is not supported officially yet. It was still in dev. So we can wait for the fix.

[2018-03-22 15:13] spitzerr opened #47 "Support installation of Patches"
It would be helpfull to Support the possibility to install given Patches.
The implemented Feature should also Support disconnected Environments which cannot use actual Version of patchnotifaction-tool.

[2018-03-23 13:23] spitzerr opened #48 "The Module uses unapproved Verbs"
On Import of the Module there is the following warning:
[code]

There are also some functions using unapproved verbs which are not exported.
https://msdn.microsoft.com/en-us/library/ms714428(v=vs.85).aspx

[2018-03-26 09:30] spitzerr opened #50 "datastore waits endless for serverconfigtocomplete"
if there is the following configuration

- machine 1
  - WebAdaptor Server
  - WebAdaptore Portal
- Machine 2
  - Server
- Machine 3
  - Portal
  - DataStore

DataStore waits endless for Server to Complete. Most probably Server is already finished with everything and therefore released by DSC, when DataStore starts to WaitForAll Server.

[2018-03-26 15:51] shailesh91 commented on #50
@spitzerr Is it while testing single machine?

[2018-03-26 16:26] shailesh91 commented on #50
@spitzerr I will give this scenario a try.

[2018-03-27 19:12] Andy-bridle opened #52 "user feedback\questions"
Hi,

I've been having a play with these scripts to deploy clones of some of our existing portal and server architectures in Azure. Very impressed so far! Here is some initial feedback on my brief journey so far.

I decided to use the esri 10.6 enterprise Azure marketplace images as the base, not sure if this was the intention?

I found webadaptors didn't work when installed on the image above, IIS

[2018-03-28 12:01] cadams84 opened #53 "Certificate Import"
Is it possible to import root and intermediate certificates?

[2018-03-28 16:06] shailesh91 commented on #53
@cadams84 We are planning to support it. #31 needs to be stabilized a little more before it can be merged.

[2018-03-28 22:09] #50 closed

[2018-04-03 16:10] #47 closed

[2018-04-03 16:51] shailesh91 opened #54 "Setting permissions for Server Run As Account on a newly Registered local cache directory"

[2018-04-05 00:26] esri-mdonnelly opened #55 "ArcGIS Server D Drive Site Creation"
Hello,

The ArcGIS Server installed but failed on the site creation. The error was:

Failed to create the site. Configuration store error. File system 'D:\arcgisserver\local\config-store' connection failed. The specified location is not accessible. ....

There is no mention of D drive in my configuration file (C drive for everything), so I am wondering why it tried to configure on D drive? I went

[2018-04-06 13:29] spitzerr opened #56 "RegisterDirectories does not implement Key Parameter"
```[]The command Get-TargetResource of the PS resource ArcGIS_Server_RegisterDirectories does not implement the key property Directories mentioned in the corresponding MOF schema file C:\Program Files\WindowsPowerShell\Modules\ArcGIS\0.8.6.0\DscResources\ArcGIS_Server_RegisterDirectories\ArcGIS_Server_RegisterDirectories.schema.mof as a mandatory parameter. All key parameters mentioned in the sche

[2018-04-12 06:42] spitzerr opened #58 "WMF-Version fails on PSRemoting"
If you call the script via PSRemoting (Enter-PSSession) the script Fails.
You could provide -Credential to run the script but, Invoke-Command on ArcGIS.psm1 gives still error. Credential should be passed to it.

[2018-04-16 11:10] spitzerr opened #60 "Password for Service_Account is not well escaped"
If you have an Run-As-Account for ArcGIS DataStore where the Password contains an ampersand (&) ist not well escaped and won't work.

[2018-04-16 17:35] shailesh91 commented on #60
@spitzerr can you give sample passwords and what happens when it is not escaped?

[2018-04-17 08:00] spitzerr commented on #60
@shailesh91  as stated in the issue right now it affects Passwords containing an ampersand ```&```
e.g.
```PowerShell&Esri```
The commandline-tool to Change the account for DataStore splits the command at the ampersand and tries Esri as ```Password``` and ```Esri``` as additional command. This Fails obviously.
If you think of Fixing it think also about Password with (double)quotes ```"```. As this

[2018-04-19 17:27] #60 closed

[2018-04-24 09:51] spitzerr opened #63 "Check for ssl-binding fails"
If you have a CA-signed cert and it is already deployed to the Webadaptor/IIS-Machine the check for the correct binding gives always true.

[2018-04-24 16:42] shailesh91 commented on #35
@spitzerr https://github.com/Esri/arcgis-powershell-dsc/tree/release-v0.8.7

[2018-04-25 08:01] spitzerr commented on #35
@shailesh91  Thank you very much.
I was still confused as the ArcGIS.psd1 differs on Github and on powershellgallery. And I was not sure if there are more differences maybe.

[2018-04-25 08:13] spitzerr opened #65 "Check for Server-Webadaptor always fails"
Even if Webadaptor is configured for Server the Test Fails and reconfigures the webadaptor

[2018-04-25 16:38] shailesh91 commented on #65
@spitzerr Will fix this. Found the bug.

[2018-04-25 16:40] shailesh91 commented on #35
@spitzerr yes, ArcGIS.psd1 manifest file is a little different. We will try to keep it the same from the next release.

[2018-04-25 18:14] #65 closed

[2018-05-04 07:49] spitzerr opened #68 "Check for Registered Directories always fails"
The check if a Directory is already registered to the server always fails, because the token is missing. Test-TargetRessource needs a token to ask for the already registered directories...

[2018-05-04 21:07] #63 closed

[2018-05-17 20:44] #30 closed

[2018-05-18 11:43] spitzerr commented on #68
@shailesh91
Unfortunately it does not work.
on the one hand it might get the token twice or at least the log-file indicates so.
on the other Hand, even if the test is correct it goes to set the Directory again.
Please see the logfile:

[code]

[2018-05-18 11:47] spitzerr commented on #42
Closed #42 via #45

[2018-05-18 11:47] #42 closed

[2018-05-18 17:11] shailesh91 commented on #68
@spitzerr Getting the token twice is it just printing it twice. Nothing more. I have found the result variable was not initialized correctly.

[2018-05-18 17:16] shailesh91 commented on #68
#70

[2018-05-18 17:21] shailesh91 commented on #53
@cadams84 with #31 being merged we now support importing intermediate certificates. Documentation coming soon.

[2018-05-22 09:39] spitzerr commented on #68
@shailesh91 Works perfectly. Thanks

[2018-05-22 09:39] #68 closed

[2018-07-06 20:17] prez13 opened #76 "Issues related to proxy/http error, blocked files, and Install-PreReqs1.ps1"
We wanted to use those PowerShell scripts to upgrade our six standalone ArcGIS Server machines. They look really promising, but we have encountered a few issues and were only able to finish one server partially. We are running on Windows Server 2012.

1. The Install-PreReqs.ps1 (Appendix B) did not work for us. It recursively created ArcGIS folders on the remote machine, which lead to this structu

[2018-07-10 04:53] nshampur commented on #76
Hello @prez13
Thank you for the feedback.

1, Can you provide the parameters you provided as input to Install-PreReqs.ps? In particular the ModuleSourcePath parameter.
2. If you install 7-zip manually, the script should not attempt to install/download it again. Can you check if 7-zip was installed correctly in ProgramFiles\7-Zip\7z.exe
3. Good point. We assume the execution policy can be set to ex

[2018-07-10 04:54] nshampur commented on #55
@esri-mdonnelly .. This was on an AWS instance with Esri provided AMI's correct?

[2018-07-10 06:39] esri-mdonnelly commented on #55
No, this was on an Windows AMI (no Esri stack).

I ended up not using the scripts and managed to get distributed deployment working manually.

[2018-07-14 20:24] cadams84 opened #77 "Highly Available Portal for ArcGIS"
Is this deployment supported? If not, is there a roadmap for when it will be?

[2018-07-14 21:52] nshampur commented on #77
@cadams84 .. Certainly supported and has been since the first release.
You should be able to define multiple machines in the configuration file and go.

[2018-07-17 02:43] #35 closed

[2018-07-17 02:43] #52 closed

[2018-07-17 02:44] #53 closed

[2018-07-17 02:45] #54 closed

[2018-07-17 02:45] #10 closed

[2018-07-17 02:46] #77 closed

[2018-07-17 07:35] fraruilo opened #79 "The SendConfigurationApply function did not succeed"
Hello,
I am facing an issue with the ArcGIS DSC and I was wondering if somebody else also struggled with it...

I have a coupe of fresh boxes (W2012R2 with WMF5) and I have installed AGS (General purpose single machine) 10.4.1 from scratch using a Push from Machine A to Machine B. Everything worked like a charm. Then I wanted to update this box where I had just install to a newer ArcGIS Server ver

[2018-07-17 10:34] spitzerr commented on #10
@shailesh91 Did you come around this:

[2018-07-17 19:32] shailesh91 commented on #79
@fraruilo this is a very generic error received when an API call errors out. Possibly, I can help you debug it over Skype. Btw, have you tried running the same upgrade config again? (Since this is an idempotent it will try to bring back any of the components out of state to the defined state.)

[2018-07-18 16:57] shailesh91 commented on #10
@spitzerr For now, we are opening both inbound and outbound ports for 7120 and 7220 in case of HA Portal.

[2018-07-20 08:21] fraruilo commented on #79
@shailesh91 thanks for the feedback. I made those boxes for testing out, I am open to a screen sharing, but I don't think we need to invest time into debugging them.
I tried several times. The only thing I can think of is the fact that AGS10.4.1 installs with a self signed certificate, even though I provide my own root and domain certs. I will test further and provide more information.

[2018-08-02 14:18] PleaseStopAsking opened #81 "Defect template for users"
It might be helpful to provide a template for users to use when submitting defects/requests. Attached is a example in markdown format already.

[template.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2253831/template.txt)

[2018-08-02 14:37] nshampur commented on #81
that's an excellent suggestion. I've seen this on other open source projects.

We'll implement. Thanks for sharing.

[2018-08-02 14:46] PleaseStopAsking opened #82 "SSL/TLS secure channel failure"
### Module Version

ModuleVersion = '1.0.0'

### Affected Resource(s)

ArcGIS_DataStore

### Configuration Files

[code]

### Expected Behavior

Datastore should be configured with the ArcGIS Server site.

### Actual Behavior

The standard output shows
[code]

Checking the dsc logs, found the following error
[code]

### Important Factoids

- Using Esri 10.6.1 image in Azure Marketplace
- Digging i

[2018-08-02 14:55] nshampur commented on #82
is this on a single machine deployment or a multi machine deployment?

[2018-08-02 15:05] PleaseStopAsking commented on #82
Multi-machine deployment. Server, Portal and DataStore are all on different machines.

[2018-08-02 15:09] nshampur commented on #82
is data store in HA config?

[2018-08-02 15:14] PleaseStopAsking commented on #82
No, single only.

[2018-08-02 15:23] PleaseStopAsking commented on #82
Reviewing the .psm1 directly in Gitub, it looks like I was missing
```[Net.SecurityProtocolType]::Tls12 -bor [Net.SecurityProtocolType]::Tls11 -bor [Net.SecurityProtocolType]::Tls```

in my file for some reason which explains why it works after I added ```[System.Net.ServicePointManager]::SecurityProtocol = "tls11, tls12"```

I am running my tests again after making a new copy of the updated modul

[2018-08-02 18:16] #82 closed

[2018-08-22 08:05] jbiendara opened #87 "Setup Portal to use AD login"
Hello,

Is there a way to also configure the Portal Identity Store for users and groups to use LDAP login within a PowerShell installation of ArcGIS Enterprise?

Regards,
Jürgen

[2018-08-22 13:40] jbiendara opened #88 "GeoEvent federation error message"
Hello,

I've created a single machine Enterprise environment (BaseDeployment-SingleMachine.json) with GeoEvent Server (GISServer-GeoEvent.json). The installation executed without problems but for the federation of the GeoEvent Server with Portal. This final step raised an error (see attached screenshot). Also, the server URLs in the PowerShell output are not complete.
Nevertheless, the GeoEvent se

[2018-08-22 19:59] shailesh91 commented on #88
Hey Jürgen,

Have you tried running this Configuration again? Since all Powershell DSC is idempotent it should skip all the components installed and configured correctly. It should jump directly to the Federation part. And please check the parameter values in the federation block once again.
For a little more verbosity on the Powershell Window Screen, you can use -DebugSwitch option with the Confi

[2018-08-23 00:10] shailesh91 commented on #87
Hey Jürgen,
We don't support is Configuring LDAP logins within PowerShell installation of ArcGIS Enterprise yet. But we do support Integrated Windows Authentication Configuration.
Regards,
Shailesh

[2018-08-23 09:39] jbiendara commented on #87
Hi Shailesh,
You are writing "We don't support ... yet". Does that mean you are planning to implement that sometime in the (near) future?
Regards,
Jürgen

[2018-08-23 09:46] jbiendara commented on #88
Hi Shailesh,
I re-checked the parameters in the federation block, they are correct. I also ran the GeoEvent server configuration a second time, but to no avail. The error is the same at "Get Portal Token from Deployment 'durowa.esri-de.com'": Error getting Token for Federation ! Waiting for 1 Minutes to try again
Any idea, how I can debug this any further?
Thank you very much, best regards,
Jürgen

[2018-08-23 13:45] nshampur commented on #87
@jbiendara .. It is in our backlog. No time lines to promise.
If you are include and have knowledge of PowerShell DSC, feel free to submit a PR with changes/support and we will gladly accept.

[2018-08-23 19:56] shailesh91 commented on #88
Jürgen,
Is there any chance you can mail me the JSON configuration files for both the deployments.
Regards,
Shailesh

[2018-08-24 13:54] jbiendara commented on #88
Hey Shailesh,

Please find attached the two JSON configuration files.

Best regards,
Jürgen

Von: Shailesh Goel <notifications@github.com>
Gesendet: Donnerstag, 23. August 2018 21:57
An: Esri/arcgis-powershell-dsc <arcgis-powershell-dsc@noreply.github.com>
Cc: Jürgen Biendara <j.biendara@conterra.de>; Author <author@noreply.github.com>
Betreff: Re: [Esri/arcgis-powershell-dsc] GeoEvent federation

[2018-08-24 17:03] shailesh91 commented on #88
Hey Jürgen,
You forgot to attach the configuration files.
Regards,
Shailesh

[2018-08-28 13:28] mmclamb opened #89 "Errors when running install command"
I am receiving the following errors when running the install. The web server is in in the DMZ on a different domain. I have added a record in the host file, but it still cannot access it via IP or name. Secondly, I don't need a FileShare as I am not setting up a HA environment, but I don't see how to get around that requirement. Any thoughts?

[MACHINENAME] Connecting to remote server MACHINENAME

[2018-08-28 16:15] nshampur commented on #89
@mmclamb  . Can you share your configuration (Sans sensitive information).  Note - you don't need a dedicated node for the file share, just need to define a node that will serve as the location for the portal content store and configuration store

[2018-08-28 16:31] mmclamb commented on #89
I have the install path populated in mine along with machine names and un/pw's. I did make a note which machine is referenced by IP.

[BaseDeployment-MultiMachine.zip](https://github.com/Esri/arcgis-powershell-dsc/files/2328914/BaseDeployment-MultiMachine.zip)

[2018-08-28 16:49] nshampur commented on #89
@mmclamb .. On which machine (1,2,3,4,5) do you plan to host the server config store and portal content store.  Please add the "FileShare" role to that machine.

On the machine 2 that is on a separate domain.  Can you check if the machine is accessible using the Resolve-DnsName powershell commandlet.  You may need to configure WinRM trust from that machine to the other hosts.
https://technet.micro

[2018-08-28 16:57] mmclamb commented on #89
@nshampur Machine 1 will host the server config store and Machine 3 will host the portal content store. Any issue with them being separated?

The DNS name was able to be resolved using Resolve-DnsName in PS.

[2018-08-30 07:25] jbiendara opened #90 "Three machine setup fails - some questions"
Hello,

I have (tried to) set up a three machine ArcGIS Enterprise environment using configuration file “BaseDeployment-ThreeMachine-10.6-ssl.json”. The setup was not successful and left me with a bunch of questions:

1.
Is it correct that the PowerShell ArcGIS module is needed on every server that is part of the deployment?

2.
Compiling the configuration raises a “deserializing” error (see Power

[2018-08-30 08:11] shailesh91 commented on #90
Hey Jürgen,

These are my preliminary answers. I will get back to you on question number 5 in detail soon.

1. Is it correct that the PowerShell ArcGIS module is needed on every server that is part of the deployment?
**Answer** - Yes PowerShell ArcGIS Module is required on every Server

2. Compiling the configuration raises a “deserializing” error (see PowerShell output). Nevertheless, the install

[2018-08-30 09:10] jbiendara commented on #90
Hey Shailesh,

Referring to #8:
Usually, on the machine, where portal or server is installed, one can also reach portal or server with “localhost” in the URL. So, on my machine I have three URL addresses to access portal:

-> https://localhost:7443/arcgis/home
-> https://<my-machine>:7443/arcgis/home
-> https://<my-machine>/portal/home

Regards,
Jürgen

[2018-09-01 04:41] shailesh91 commented on #90
Jürgen,

For Question 5, the SSL certificates will be installed on the Web Adaptor endpoint instead of the portal or server when they are on the same machine. Hence, self-signed certificates will be installed on the portal and server. On another, there is a possibility of an issue I am verifying when the self-signed certificates and CA certificates have the same CNAME.
For Question 8, are you sure

[2018-09-01 04:41] #88 closed

[2018-09-04 09:31] jbiendara commented on #90
Hi Shailesh,

For question 5:
With “…when they are on the same machine.” you mean, when portal or server are on the same machine with (their corresponding) web adaptor?
I will wait for your verification of the potential issue.

For question 8:
Yes, both are running since I can access both via their web adaptor addresses. Nevertheless, I also can access portal directly on the portal server with the

[2018-09-04 11:59] jbiendara opened #91 "Set-up of image server"
Hello,

I want to set up an image server in a multi machine environment. Since there is no specific sample configuration file I will use the GISServer-GeneralPurpose.json template. Is this the correct way and if yes, is there a way to directly configure this new server as image server in portal with PowerShell?

Regards,
Jürgen

[2018-09-04 14:14] nshampur commented on #91
Hello
Please take a look at https://github.com/Esri/arcgis-powershell-dsc/wiki/Deploy-an-ArcGIS-Image-Server-site-on-one-machine

[2018-09-04 14:16] nshampur commented on #91
https://github.com/Esri/arcgis-powershell-dsc/blob/bfae4eb747903d76d640d9edfb5f67daf87d15e3/SampleConfigs/Gis%20Servers/GISServer-GeoEvent.json#L12   .. Set ServerRole accordingly  to "ImageHosting" or "RasterAnalytics" according to which the Image Server is being used.

[2018-09-04 17:11] shailesh91 commented on #90
Jürgen,
It is very hard to say what is going on with your deployment in relation to the redirect to the portal endpoint. I will have to look at the configuration run output and the machines itself to check.
As for point number 5, when portal + WA is on one machine and Server +WA is on one machine. If the certs are specified, they will be installed on WAs of both the machines and not the server or

[2018-09-05 07:39] jbiendara commented on #90
Shailesh,
I am sorry but I still don't feel comfortable with the explanation.
#5:
Here, the picture is still not clear to me. I provided server certificates for both, portal and server. But, only server uses the provided certificate, portal uses a self-signed certificate (see screenshots). This seems to be inconsistent.
You say, that the provided certificates "will be installed on WAs". How can I

[2018-09-05 08:13] jbiendara opened #92 "Installation of root certificate"
Hello,
I still have problems with the installation of the root certificate (see also issues thread #90, question #7).
My test was to install a single machine image server including the ssl root certificate (as shown in BaseDeployment-ThreeMachine-10.6-ssl-per-Node.json). The installation finished without errors (see attached configuration file and log file). I would have expected to find the root

[2018-09-05 08:27] jbiendara opened #93 "Multi machine setup - issues"
Hello,

I've set up a five machine environment (Portal, hosted Server, Data Store, Image Server, GeoEvent Server). I used three configuration files:

1. BaseDeployment-ThreeMachine-10.6-ssl
2. GISServer-GeoEvent
3. GISServer-GeneralPurpose

During and after the installation, I see two issues:

1. Configurations 2. (GeoEvent Server) and 3. (Image Server) display incomplete server URLs.
![incomplete

[2018-09-05 16:50] shailesh91 commented on #92
Hey Jürgen,
Your configuration is wrong, the SSL root and intermediate variable is not part of the credentials object
https://github.com/Esri/arcgis-powershell-dsc/blob/master/SampleConfigs/Base%20Deployment/BaseDeployment-ThreeMachine-10.6-ssl-per-Node.json

1. You need to specify all the root or intermediate certs in the config data. They will be installed on all machines.
2. It is just for refe

[2018-09-05 16:53] shailesh91 commented on #91
@jbiendara doc has been updated.

Thanks,
Shailesh

[2018-09-06 06:54] jbiendara commented on #92
Hello Shailesh,
Yes, you are right, I included the ssl root certificate part at the wrong position in the configuration file. Maybe I was mislead by the indentation of this part in the sample shown when following the given link.
Thank you very much, best regards,
Jürgen

[2018-09-06 08:33] jbiendara opened #94 "Problem with federation"
Hello,
I have two configuration files to set up a three machine environment. The only difference between the two configuration files are the “ssl per node” sections in the “AllNodes” part (one file with, one without this sections). (Still trying to get the server certificate installed on the portal machine and the root certificate on portal and server machines. 😊)

With ssl sections
[WithSSLSectio

[2018-09-06 08:39] #91 closed

[2018-09-06 08:42] #92 closed

[2018-09-06 13:51] spitzerr commented on #94
Hi @jbiendara,

your config with-ssl is missing some square-brackets. This part:

[code]

should be:
[code]

Maybe this fixes also #90 Q5

Cheers,
Rainer

[2018-09-07 08:27] jbiendara commented on #94
Hi Rainer,

Unfortunately, adding the extra square brackets didn't change anything.

As soon as I add the “ssl per node” sections to the “AllNodes” part the procedure gets confused. Okay, the node ssl certificates get installed as well as does the root certificate.

But when it comes to federate the server (vsdev2371) with the portal (vsdev2370) the procedure requires a token from the server (vsde

[2018-09-07 09:02] spitzerr commented on #94
Hi,

**About the bracketts**: The config is written in json-notation. Square-Bracketts are used for Arrays over there. You can see some more Information About Syntax e.g. here: http://www.json.org/

At the example configuration files there are also some square-bracketts inside of Quotation marks. These are meant as optional/filled Information which hast to be changed for use.

---

For clarificati

[2018-09-07 22:27] shailesh91 commented on #94
@jbiendara @spitzerr
Call for federation is made on server web adaptor. So when the web adaptors are on different machines the Portal WebAdaptor endpoint is wrongly inferred. This line is the cause of the error.
https://github.com/Esri/arcgis-powershell-dsc/blob/bfae4eb747903d76d640d9edfb5f67daf87d15e3/Modules/ArcGIS/Configuration/ArcGISConfigure.ps1#L1664

To get around the error use the followin

[2018-09-13 21:48] shailesh91 commented on #93
Pull request #95 should solve this issue. You can fork the PR and try it out.

[2018-09-13 21:49] shailesh91 commented on #94
@jbiendara @spitzerr Pull request #95 should solve this bug. You can fork the PR and try it out.

[2018-09-13 21:49] shailesh91 commented on #90
#95

[2018-09-19 12:37] spitzerr commented on #94
@shailesh91 from my perspective there is an additional timing Problem:
webadaptor waits until ArcGIS_Portal is finished to Register Portal in WA:
https://github.com/Esri/arcgis-powershell-dsc/blob/bfae4eb747903d76d640d9edfb5f67daf87d15e3/Modules/ArcGIS/Configuration/ArcGISConfigure.ps1#L1474-L1488
After ArcGIS_Portal is finished ArcGIS_Portal_TLS is executed:
https://github.com/Esri/arcgis-powersh

[2018-09-19 17:10] shailesh91 commented on #94
@spitzerr I will try to repro this issue (Can you send the config file you are using). I have a solution in mind for wmf5 that requires minimal change. But I am not sure how I will get this working in wmf4. Need to brainstorm a little more that.

[2018-09-19 17:55] spitzerr commented on #94
@shailesh91 please find attached the config which Fails on our site. As it is a racing condition I think it's hard to reproduce anyway.
Hope you can find a fix

[config.json](https://github.com/Esri/arcgis-powershell-dsc/files/2398185/config.json.txt)

[2018-09-19 17:57] nshampur commented on #94
adding retries to ArcGIS WebAdaptor when it attempts to get a token and the Portal is restarting might be a good fix.

[2018-09-19 18:11] shailesh91 commented on #94
@spitzerr just an FYI, support for global certs used is going away with the latest PR. You will have to use the node level certs.
@nshampur Will give the retry solution a try.

[2018-09-24 17:46] shailesh91 opened #96 "Upgrades - Portal Unregister Resource throws errors with Gibberish."

[2018-09-24 17:46] shailesh91 commented on #96
Solved #95

[2018-09-24 17:46] #96 closed

[2018-09-24 17:48] shailesh91 opened #97 "Upgrades - Windows Service Resource Not imported causing DSC Server Upgrade Job to fail"

[2018-09-24 17:48] shailesh91 commented on #97
#95

[2018-09-24 17:48] #97 closed

[2018-09-24 17:52] shailesh91 commented on #93
Closing the issue. Please open again if you have any further issues.

[2018-09-24 17:52] #93 closed

[2018-09-24 17:54] shailesh91 commented on #94
Closing the issue. Please open again if you have any further issues.

[2018-09-24 17:54] #94 closed

[2018-09-24 17:54] shailesh91 commented on #90
Fixed. Closing the issue. Please open again if you have any further issues.

[2018-09-24 17:54] #90 closed

[2018-09-24 17:58] shailesh91 commented on #89
Issue Fixed in #95. Closing this issue. Please open again if any further issues.

[2018-09-24 17:58] #89 closed

[2018-09-24 18:07] shailesh91 commented on #55
This issue is related to Windows AMI on AWS which is not currently supported. If you have any further issues open a new issue. Thanks.

[2018-09-26 16:10] l84tahoe opened #98 "Dual Machine Upgrade Federated/Hosting Server Web Adaptor Configure fails"
We are trying to upgrade an existing ArcGIS Enterprise (10.6 to 10.6.1) on two machines in our development environment and run into a specific error when Powersehll DSC tries to configure the federated hosting server web adaptor:

`[]PowerShell DSC resource ArcGIS_WebAdaptor  failed to execute Test-TargetResource functionality with error message: PowerShell Desired State Configuration does not sup

[2018-09-26 16:27] shailesh91 commented on #98
@l84tahoe One of the prereqs of Running Powershell DSC is that the installation files should be accessible on the target machines (Either installation files are placed on a file share accessible the local system account of the target machine or local to the target machine placed as specified in the JSON config file).
As for the web adaptor when you run the upgrade next time can you please run it i

[2018-09-26 16:32] l84tahoe commented on #98
@shailesh91 The files are on a local drive ( D:\ ) of each machine. The issue with that error is that I never said Machine1 should have a datastore but the script thinks it should have it.

I will rerun using the -DebugSwitch right now.

[2018-09-26 16:39] shailesh91 commented on #98
I don't think the error was on machine1 as the error doesn't specify a machine name. It would be great to have the logs generated though.

[2018-09-26 16:42] l84tahoe commented on #98
Sorry I didn't make it clearer earlier. Here is the Powershell output showing Powershell trying to install on Machine1 when it shouldn't:
[code]

[2018-09-26 16:51] shailesh91 commented on #98
@l84tahoe it is a bug. I can provide you a local patch just in case you are testing right now.

[2018-09-26 16:53] l84tahoe commented on #98
@shailesh91 I am. Will this patch also fix the webadaptor issue?

[2018-09-26 16:55] shailesh91 commented on #98
@l84tahoe I am still unclear on the web adaptor issue. I need more logs to tell what might be going wrong.

[2018-09-26 17:00] l84tahoe commented on #98
Sorry, here is the verbose log of the incident:
[code]

The admin account is a built in account and not a domain account.

[2018-09-26 17:08] shailesh91 commented on #98
@l84tahoe can you try running this command for cmd
[code]
Another thing you can try is going to "https://Machine1.domain.com:7443/arcgis/portaladmin" and try logging in.

[2018-09-26 17:34] l84tahoe commented on #98
@shailesh91 I am able to log in using the built in admin account through `/portaladmin` When I use the command prompt I get `Unable to register with Portal. The remote server returned an error: (401) Unauthorized.` BTW we are using IWA throughout the enterprise.

[2018-09-26 19:48] shailesh91 commented on #98
@l84tahoe Can you try registering web adaptor through the UI, just to check if we get the same error or is something to do with configure utility.

[2018-09-26 19:51] l84tahoe commented on #98
@shailesh91 I am waiting for the upgrade with `-DebugSwitch` to complete still, but in a previous attempt I was able to register the web adaptor to Portal using the web interface using the same credentials in the utility.

[2018-09-26 20:10] l84tahoe commented on #98
@shailesh91 The portal web adaptor config failed again. Same 401 error. Server web adaptor now fails as well with this error:
[code]

And after copying your updated `ArcGIS.psm1` to the ArcGIS Module in all machines I get this error when it tries to update datastore:

[code]

[2018-09-26 20:29] shailesh91 commented on #98
@l84tahoe Can you try with this file.
https://raw.githubusercontent.com/Esri/arcgis-powershell-dsc/a03869c38ba5826b619937cd6ac369f043f4d75e/Modules/ArcGIS/ArcGIS.psm1

And if possible please provide verbose logs. That will be very helpful.

[2018-09-26 20:49] shailesh91 commented on #98
@l84tahoe can email me at **shgoel@esri.com** . I can help you to debug the problems on skype.

[2018-10-01 14:43] PleaseStopAsking opened #100 "Support for Managed Service Accounts/Group Managed Service Accounts"
Hi,

We currently utilize MSA/gMSA's within our deployments but are required to manually switch over to them after utilizing DSC to deploy with local accounts. Would it be possible to implement these in the future?

Our current workflow requires...

1. Setting permissions for the MSA on the required ArcGIS dirs based on the software being configured.
2. Setting the service account to the MSA.
3. R

[2018-10-04 01:42] RQF4 commented on #76
Hi @prez13,

I didn't encounter your first issue but here are a couple suggestions for the other two you might try. I install NuGet and Chocolaty, which I then use to get 7-zip and the dsc modules, all in the Pre-Reqs script (which I expanded). I make sure to run the dsc piece on my local and the remote machines to keep them in sync.

[code]

[2018-10-04 04:48] RQF4 opened #101 "DSC unable to retrieve portal token after 1.1.0"
Hi Everyone,

First, thanks for all the contributions and work on this project! I've run into an issue with a previously running build after going to 1.1.0, although I've changed the config since then too. When running the attached base deployment federation fails with the following error:

I have verified that the account used is being created as an admin in the portal. I can also log into /home

[2018-10-04 05:15] shailesh91 commented on #101
Hey Corey,

Looks like there are errors in your config file for version 1.1 of this module.
1. **"Target"** Parameter in SSL Certificate Block is now a required param
2. No node in Config file is assigned a Fileshare role. This is necessary since we create a file share for the deployment. As of now, we don't support external file shares.
2. **FileShareLocalPath**  should be a local file path, agai

[2018-10-09 21:05] croger68 opened #102 "Fileshare not present required for HA Setup!"
We are trying to test a 5 machine deployment of ArcGIS Enterprise as seen in the diagram for the multi-machine deployment https://github.com/Esri/arcgis-powershell-dsc/wiki/Create-a-base-ArcGIS-Enterprise-deployment-on-many-machines.  We want to have portal, webadaptors, datastore and two ArcGIS servers on separate machines with one of the ArcGIS servers acting as the dedicated hosting server and

[2018-10-10 18:29] spatialbridge opened #103 "Configure-ArcGIS hangs on ArcGIS_License"
I have 2 Azure VMs on which I'm trying to use a customized BaseDeployment-SingleMachine.json. On both instances, I have .ecp files stored on the d:\ drive, and the "LicenseFilePath" entries in the .json file reference these:

[code]

The installation appears to finish without error, but the ArcGISLicense process hangs:

[code]

As you can see, this process started at 9:10 AM. It's currently 2:29 P

[2018-10-10 18:32] nshampur commented on #103
@spatialbridge  .. we currently have a bug where if the license file has spaces, the license utility hangs (due to command line arguments formatting)
Till this bug is fixed, please rename your license file and remove whitespaces.  That should unblock you

[2018-10-24 16:39] croger68 commented on #102
Thank you for the response.  For your information, I tried to seek help through ESRI support but was told that as of now ESRI is not supporting Enterprise installation using powershell DSC?  I generated two separate configuration files as you suggested one for the base deployment and one for the general purpose server.  It looks like the installation progressed further during the base deployment b

[2018-10-24 16:49] nshampur commented on #102
@croger68 - can you e-mail me the contact at Esri support who provided the incorrect guidance.
It is incorrect. PowerShell DSC is supported through Esri support channels.

nshampur  @  esri dot com

[2018-10-24 21:05] shailesh91 commented on #76
@RQF4 Thanks for the contribution. This is a very good script to have when all the machines have access to the internet and have WMF 5 installed.
@prez13 I have made some changes to address issues 1 and 3 with the changes I have made to [`Appendix B`](https://github.com/Esri/arcgis-powershell-dsc/wiki/Scripts-to-push-the-ArcGIS-Module/77a4119daf3a47d06e07a3d3d8a998be7777b203).

[2018-10-30 10:05] HakonD opened #106 "ArcGISFederation throws an error when installing a standalone server."
When installing a standalone ArcGIS server it seems like the script still wants to federate it with a nonexisting Portal resulting in this exception:

[code]

Except for this, the install seems to be ok.

Configuration:

[code]

[2018-10-30 16:58] nshampur commented on #102
@croger68  The error message seems to indicate that either licensing was not successful or the site was not created.  Can you check what the state of your server is  https://GSSGISHOST:6443/arcgis/admin

[2018-10-30 19:07] croger68 commented on #102
When I go to the  https://GSSGISHOST:6443/arcgis/admin
<https://gssgishost:6443/arcgis/admin>  url I get the "There is a problem
with this website's security certificate" message.   When I click on
"continue to this website (not recommended)",  I get the ArcGIS Server
Administrator Directory login page and am able to login to the server using
the primary site admin login.

On Tue, Oct 30, 2018 at

[2018-10-30 19:16] nshampur commented on #102
Looks like the site did get created.

Are you able to rerun the PowerShell script
Configure-ArcGIS -ConfigurationParametersFile C:\entinst1061dir\GSS_enterprise_install_powershell_config.json

It should skip over actions that were successful.

[2018-10-30 20:44] shailesh91 commented on #106
@HakonD Now the federation part should be skipped with PR #99

[2018-10-30 20:44] #106 closed

[2018-10-30 20:46] shailesh91 commented on #103
@spatialbridge The Bug has been fixed and merged. Should be soon available on Powershell Gallery as well.

[2018-10-30 20:46] #103 closed

[2018-10-31 09:02] dellenbach commented on #106
Still a Problem with 1.1.1?

Finished DSC Job:- ArcGISConfigure. Time Taken - 00:00:15.0667168
ArcGISConfigure - Completed
Dot Sourcing the Configuration:- ArcGISFederation
Compiling the Configuration:- ArcGISFederation
Starting DSC Job:- ArcGISFederation
Start-DscConfiguration : The computer name was not specified and the configuration directory does not have any configuration
files.
At C:\Progra

[2018-10-31 13:30] croger68 commented on #102
I ran the script again and received the following error message during
configuration of portal:

[]PowerShell DSC resource MSFT_WaitForAll  failed to execute
Set-TargetResource functionality with error message: Resource
'[ArcGIS_Portal]PortalGSSPORTAL' on machine(s) 'GSSPORTAL' is not re
ady after '90' retries with retry interval of '60' second(s).
[]The SendConfigurationApply function did not suc

[2018-11-01 02:30] shailesh91 commented on #102
@croger68 looks like you are encountering a race condition on a rerun of the json configuration. I will investigate this and get back to you soon.

[2018-11-01 21:29] shailesh91 commented on #102
@croger68 Can you please tell me the version of DSC Module you are using?

[2018-11-01 21:34] HakonD commented on #106
Great, will give it a test tomorrow 👍

[2018-11-01 21:56] croger68 commented on #102
from the installation folder it looks like we are using arcgis module 1.1.0
for powershell? ( C:\Program
Files\WindowsPowerShell\Modules\ArcGIS\1.1.0\DSCResources).   I am not that
familiar with powershell so let me know if this is not what you are looking
for.

On Thu, Nov 1, 2018 at 4:29 PM Shailesh Goel <notifications@github.com>
wrote:

--

*Roger Meyer*
*GeoSpatial Services*
OFFICE 507-457-87

[2018-11-01 21:59] shailesh91 commented on #102
Yes, that is the version I was looking for. If possible can you please upgrade it to 1.1.3 just released
Install-Module -Name ArcGIS -RequiredVersion 1.1.3

[2018-11-02 08:02] dellenbach opened #109 "Patches from UNC-path throws error"
[code]

[2018-11-02 18:06] shailesh91 commented on #102
@croger68 Yes, please.

[2018-11-02 18:12] shailesh91 commented on #109
@dellenbach PatchesDir param supports UNC paths. Can you tell me the path that you passed for PatchesDir param? And please make sure that the local system account and the account which is running configure-arcgis has permissions on that share.

[2018-11-02 19:35] croger68 commented on #102
I get the error message below. how to properly uninstall previous version?

At C:\Program
Files\WindowsPowerShell\Modules\ArcGIS\1.1.3\Configuration\ArcGISInstall.ps1:3
char:5
+     Import-DscResource -ModuleName ArcGIS
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Multiple versions of the module 'ArcGIS' were found. You can run
'Get-Module -ListAvailable -FullyQualifiedName ArcGIS' to see available

[2018-11-02 20:20] shailesh91 commented on #102
Get-InstalledModule -Name "ArcGIS" -RequiredVersion 1.1.0 | Uninstall-Module

[2018-11-02 20:50] dellenbach commented on #109
The PatchesDir is something like '\\\\server\\dir... '. The install account has rights. The local system account has no access. Why does the local system account need access rights, while I am installing with a domain account. m 02.11.2018 8:20 nachm. schrieb Shailesh Goel <notifications@github.com>:@dellenbach PatchesDir param supports UNC paths. Can you tell me the path that you passed for Patch

[2018-11-02 21:11] shailesh91 commented on #109
The DSC Configuration runs as a Local System Account unless you run Configure-ArcGIS with -Credentials Parameter (I am assuming that you are running without that param. And you are talking about the domain account specified in the JSON Config File). DSC Script needs to look up for patches to install in that folder, hence the local system account of the orchestrating machine needs to have access to

[2018-11-03 09:43] dellenbach commented on #109
I used the Configure-ArcGIS with -Credentials and a domain account. The Installation Files throw no Problems with UNC. Only the patches. Am 02.11.2018 10:15 nachm. schrieb Shailesh Goel <notifications@github.com>:The DSC Configuration runs as a Local System Account unless you run Configure-ArcGIS with -Credentials Parameter (I am assuming that you are running without that param. And you are talkin

[2018-11-05 17:48] shailesh91 commented on #109
@dellenbach Can you please try mapping the drive to check if the file share path is indeed accessible to the domain user you are running the powershell script as.
Below is a powershell you can use to do so. You will be able to see Q drive in your windows explorer.
[code]

[2018-11-05 18:33] croger68 commented on #102
thank you,

I uninstalled and ran the configuration file again.  Received error
messages below:

[GSSWEBSRV]: LCM:  [ End    Set      ]
[[WaitForAll]WaitForAllPortalConfigToCompleteGSSPORTAL]  in 9186.2980
seconds.
[GSSWEBSRV]: LCM:  [ End    Set      ]
[]PowerShell DSC resource MSFT_WaitForAll  failed to execute
Set-TargetResource functionality with error message: Resource
'[ArcGIS_Portal]PortalG

[2018-11-05 18:38] shailesh91 commented on #102
@croger68 would you be open to a skype debugging session? I might be able to help you resolve the issues more quickly. My email is shgoel@esri.com

[2018-11-06 08:03] dellenbach commented on #109
I testet it with the same credentials as I used wit Configure-ArcGIS
`Configure-ArcGIS \\bulkfs\prjdaten\_software\ESRI\AGS\dev-t04_serveronly_unc.json -Credential $credentials`
That worked fine. Access granted and Q mapped.
It seems as if the configure script doesn't use the "Credential" User to Access the patch UNC path.

[2018-11-06 20:12] shailesh91 commented on #109
@dellenbach Actually it does indeed use it. Otherwise, you wouldn't have been able to install the server and portal in the same share. We start the DSC script with the user credential you provide as part of the configure-arcgis command. Any command executed as part of this script is executed as that credential if specified otherwise.
I have tried on my dev environment I recreated your use case it

[2018-11-12 10:47] dellenbach commented on #109
I had success with an new UNC Path. (?)
Thanks for you help!

[2018-11-12 18:33] shailesh91 commented on #109
Resolved.

[2018-11-12 18:33] #109 closed

[2018-12-07 11:27] spitzerr opened #110 "Wait for Server after Cert-Installation"
After installing Root or Intermediate Certificates in Server the Server Restarts. In some configurations there is a racing condition, as the Server is not already up again as other parts try to Access it. The resource ArcGIS_Server_TLS which installs the certificates waits for the Windows-Service to come up again. Maybe it should wait for the url /ArcGIS/rest/info to lookup if the Server is operat

[2018-12-08 01:12] hmelendez opened #111 "Attempt to configure data store failed"
I'm trying to deploy a two machine base deployment, Web Server with webadaptors and App Server with Portal, GIS Server and Data Store and a separete Orchestrating VM. [debugInstall_1061.log](https://github.com/Esri/arcgis-powershell-dsc/files/2659228/debugInstall_1061.log)
[BaseDeployment-TwoMachines_1061.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2659231/BaseDeployment-TwoMachines_1

[2018-12-08 01:39] shailesh91 commented on #111
@hmelendez
For the first error, on the datastore machine can you check if the "https://hrm-app-base.1ukjfl4fnoqe1psswma00gvpkg.qx.internal.cloudapp.net:6443/arcgis/admin" is accessible and you are able to log in.
For the second error, can you please check if you can PowerShell Remote from your web adaptor machine to your portal machine?

[2018-12-09 06:35] hmelendez commented on #111
I had PSRemoting enable on all VMs but only the orchestrating machine was able to connect on that port to all VMs, I did not expect other machines to be PSRemoting to each other. My question is do all of them need to PSRemote between them or is it limited to the portal WebAdaptor and Portal VM?

[2018-12-09 06:42] shailesh91 commented on #111
There are more dependencies like portal web adaptor and portal VM. Some of them are the primary server and datastore, Portal and Standby Portal, server and another server node, primary data store, and standby data store, etc. Based on the config you create we build a dependency graph (This is what we need WaitFors').

[2018-12-10 22:00] carstenpiepel opened #112 "Portal site creation times out"
When setting up a highly-available base deployment using a file share for the content portal directory, the portal site creation times out. I suspect it's because copying the template content to the file share is taking longer than anticipated in this scenario.

Stopping the script, waiting until the site has finished creating, and rerunning the script seems to work around the issue but it would b

[2018-12-13 21:06] jyi678 opened #113 "Multiple Machine deployment with Azure file share succeeded but with unstable Federated/Hosting Server"
We managed to deploy HA architecture successfully on 8 Windows 2016 VMs in a workgroup on Azure Cloud, using BaseDeployment-MultiMachine.json. We used Azure file share for the Server and Portal configurations.
The script and running results are attached.  It is reproducible that everytime we have this 502 Bad Gateway error. Sometimes it shows that Federated Server is valid, but the Hosting server

[2018-12-13 22:51] shailesh91 commented on #113
@jyi678 Your deployment had errors. The command running to finish doesn't mean that the deployment was successful.
In the first run, your portal configuration failed due to timeout while creating a site. This is a known issue when using Azure files.
In the second run, your Load balancer components were not installed correctly. There are some conflicts that can happen when using MS web platform, he

[2018-12-13 23:02] shailesh91 commented on #112
@carstenpiepel I suspect you are using Azure files for creating a Highly Available Base Deployment. Your suspicion is correct. We are indeed seeing these site creation timeouts quite often when using Azure files though not in a simple network file share.

[2018-12-13 23:04] shailesh91 commented on #110
@scma-esrich yes you can submit a PR. We will try to review it ASAP.

[2018-12-14 09:19] scma-esrich commented on #110
#114 is in.

[2018-12-14 21:13] shailesh91 commented on #113
@jyi678 For the second run, you might want to check if the ProductId you have in the JSON config file matches the one of MSI package you are installing and. You can also add DebuSwitch Flag for a little more verbosity.
``` Configure-ArcGIS -ConfigurationParametersFile 'D:\BaseDeployment-MultiMachine.json' -DebugSwitch ```

[2018-12-17 01:39] jyi678 commented on #113
thanks. This time I got ARR 3.0 installed from the two msi files correctly. But I still got the 502 Bad Gateway error when Save Hosting Server. Please see the attached running result. Any suggestions would be greatly appreciated.
[WithESRILoadBalancer_2018-12-16.docx](https://github.com/Esri/arcgis-powershell-dsc/files/2684188/WithESRILoadBalancer_2018-12-16.docx)

[2018-12-17 15:46] jyi678 commented on #113
After done more testing, i.e., apply our public url to WebContextUrl to avoid Invalid redirect_uri 400 issue  instead of the Azure generated public url, and federate a new server with this public url, I still got the unstable issue, where, sometimes the Hosting server is able to be saved, while most of the time 502 Bad Gateway reappeared when trying to save Hosting server. Is there another way to

[2018-12-18 16:31] pitks commented on #113
In ArcGIS Enterprise and IIS ARR scenarios 502 Bad Gateway error is usually related to the SSL certificates. In order for IIS ARR to create an SSL connection to the Portal Admin 7443 or Portal/Server web Adaptor URLs it must be able to recognize SSL certificate on WebAdaptor (Portal 7443) . You have to use either CA-signed or AD-signed SSL certificates.

[2018-12-18 16:38] nshampur commented on #113
Here is a powershell function you can use to import a certificate from Server/Portal into the IIS machine's trusted certificate store

`function Import-CertFromServerIntoTrustedCertStore
{
	[CmdletBinding()]
	param(
		[string]$Url
	)

    [System.Net.ServicePointManager]::ServerCertificateValidationCallback = {
        [System.Security.Cryptography.X509Certificates.X509Certificate2]$cert = $args[1

[2018-12-18 16:38] nshampur commented on #113
`Import-CertFromServerIntoTrustedCertStore -Url ;https://myportal:7443/arcgis/pprtaladmin`

for portal

[2018-12-18 16:50] pitks commented on #113
Personally - I would stay away from Self-Signed certificates. Too many places to cross-import them in order to avoid Federation/Publishing problems.

[2018-12-18 20:51] jyi678 commented on #113
Thanks for help and the recommendations. I believe we can use the script later on our staging and PROD environment. For now we are able to get a wildcard certificate for the system. So I used mmc to deploy the certificate to the trusted certificate store and personal on the load balancer, each web adaptor, portal and server machine. Then I did the following:
1. On Load Balancer and the two web ada

[2018-12-18 21:15] jyi678 commented on #113
Corrections: At the stage of the Hosting server is valid and the Federated server is not valid, when I validate again the federated server, I got the following from Portal admin:
"Validation failed for hosting server 'https://xxxxx.xxxxx.ca/server'. Validation steps. Step1: ArcGIS Server administration URL 'https://xxxxx.xxxxx.ca/server' is accessible. Step2: Validating hosting server. Step3: ArcG

[2018-12-18 21:20] pitks commented on #113
I would recommend opening Technical Support ticket with ESRI Canada Technical support. Right now you are experiencing problem that is not related to the PowerShell scripts.

On Dec 18, 2018, at 4:15 PM, jyi678 <notifications@github.com<mailto:notifications@github.com>> wrote:

Corrections: At the stage of the Hosting server is valid and the Federated server is not valid, when I validate again the

[2019-01-09 21:24] hmelendez opened #116 "ArcGISFederation fails when multiple versions of the ArcGIS Module are installed."
[debugSwitch.log](https://github.com/Esri/arcgis-powershell-dsc/files/2742655/debugSwitch.log)
I use the Upgrade-Module command to install the latest version of the ArcGIS Module. This actually adds the new version and retains the previous one. When deploying a new site the ArcGIS Federation fails to compile with the included errors. Uninstalling the older versions of the module will remediate the

[2019-01-10 21:16] hmelendez opened #117 "RasterAnalytics fileshare template fails to registerd RasterStore"
I'm using the RasterAnalytics-fileshare template to create a site, it creates the FileShareLocalPath fileshare but it fails to register it as a RasterStore with the site an then it can not set the new site as a RasterAnalytics on the portal. This are the parameters that i'm using and bellow is the error return by DSC.

[code]

The PowerShell DSC resource '[ArcGIS_FileShare]RasterAnalysisFileShare'

[2019-01-11 21:51] #111 closed

[2019-01-21 10:35] scma-esrich opened #118 "ArcGIS_WebAdaptor - Test-TargetResource - check for portal-URL also"
We had issues with a broken environment, when the IIS-service or a WA-site within IIS was stopped due to a problem in a former setup-run. I think, this had to do with how the check for the WA is currently done:

Within _ArcGIS_WebAdaptor.psm1_ in the _Test-TargetResource_-function you are checking for an available URL-endpoint only in the case of server, not for portal. For portal, the check is do

[2019-01-21 10:43] scma-esrich commented on #118
@spitzerr, FYI.

[2019-01-21 10:46] scma-esrich opened #119 "Parameter "Portal > ContentDirectoryLocation" - misleading behavior during setup"
If you specify your own full path for the parameter "Portal" > "ContentDirectoryLocation", you cannot use subdirectories that haven't been created manually before, because only the portal-REST-interface "/portaladmin/createnewsite" is used to "create" that location.

You should use PowerShell instead for testing and/or creating the path first and then switch to using the portal-REST-interface "/po

[2019-01-21 10:46] scma-esrich commented on #119
@spitzerr, FYI

[2019-01-21 12:08] scma-esrich opened #120 "GeoEvent - Registered ArcGIS Server - tokens didn't work for portal"
During the GeoEvent-setup Portal is configured as the "Default" "Registered ArcGIS Server". The token-based configuration that is used by default for that connection did not work in our case. We had to switch to "Use Credentials" manually after the setup, which would break idempotency for the next run, right?

Wouldn't it be easier to "Use Credentials" right from the start? They are already part o

[2019-01-21 12:08] scma-esrich commented on #120
@spitzerr, FYI.

[2019-01-22 21:07] carstenpiepel opened #121 "SSL certificate installation fails"
SSL certificate installation fails when using the `SslCertifcate `configuration node as documented in the [wiki](https://github.com/Esri/arcgis-powershell-dsc/wiki/Variables-reference-page-for-JSON-configuration-files). Looking at the code, the node name is actually `SslCertifcates`. Both names are spelled incorrectly as it should be either` SslCertif**i**cate` or` SslCertif**i**cates`.

Please fi

[2019-01-24 18:32] shailesh91 commented on #118
@scma-esrich The rationale behind the availability check for the server was to see if admin endpoint was enabled or not. It wasn't intended to check for the availability of server endpoint in general.
But your's is also a valid point. If you can please submit a PR for the same, it would be great.

[2019-01-24 18:37] shailesh91 commented on #120
@scma-esrich Can you elaborate why token-based configuration that is used by default for that connection did not work in your case? Did you get any errors? Any particular use case that token-based security is not an option?

[2019-01-25 11:20] scma-esrich commented on #118
@shailesh91, thanks for the answer. I will try to prepare a PR.

[2019-01-25 12:03] scma-esrich commented on #120
@shailesh91, I am not sure about the reason or error-messages. @jesa-esrich, can you explain?

[2019-01-25 12:13] jesa-esrich commented on #120
@shailesh91 as far as I remember, the GeoEvent Server will switch the connection type to Portal after Portal is federated with the ArcGIS Server (Role: GeoEvent). To validate the connection you will have to pass the portal administrative credentials. Else the registered connection will throw an error. This is also stated in the offical GeoEvent doc: https://www.arcgis.com/home/item.html?id=b6a3504

[2019-01-25 19:08] shailesh91 commented on #120
@scma-esrich @jesa-esrich let me investigate a little more on this. Will try to get back to you on this soon.

[2019-01-31 08:41] spitzerr opened #122 "No Portal-Token on Portal_TLS"
We tried to run PowerShell DSC on a three server deployment in Azure. The Script failed on implementing the SSLCertificate in Portal as it gets not token. From our perspective it is because of these lines:
https://github.com/Esri/arcgis-powershell-dsc/blob/ec532e72f6a9068160ec26b6a33e316a2318410c/Modules/ArcGIS/DSCResources/ArcGIS_Portal_TLS/ArcGIS_Portal_TLS.psm1#L92-L101
The Portal is "created"

[2019-01-31 08:49] spitzerr opened #123 "Firewall not opened on server"
On our [configuration.json.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2816318/configuration.json.txt) we have defined a server which should be federated, but as there is no DataStore the Server will not be set as hosted Server. Additionally the WebAdaptor is installed on a different machine as the ArcGIS Server. Therefor the ArcGIS Server needs to accept communication on Ports 6080/6

[2019-02-03 00:09] shailesh91 commented on #116
@hmelendez Will look into the given issue.

[2019-02-04 04:00] hmelendez opened #124 "WaitForServerConfigToCompleteWA Unable to connect to the remote server"
I would like to understand what this validation is trying to do that it never gets to connect to the GIS Server. Is it an SSL handshake, WinRM or what?  After the Test fails 101 times the Set completed successfully.
[debug_log.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2829697/debug_log.txt)

[2019-02-04 20:06] shailesh91 commented on #122
@spitzerr does Wait-ForUrl check fail at line 100?

[2019-02-04 21:35] shailesh91 commented on #124
"WaitForServerConfigToCompleteWATest-GIS01" is trying to check if the server (on another machine) has already been configured. If so only then proceed with the next step of configuring the web adaptor. There was an issue (#123) reported recently where the port on server machine was not opened when web adaptor and server are on different machine. That could be one of the reasons this check is faili

[2019-02-04 23:31] hmelendez commented on #124
The site is to be https only and 6443 is the only server port open between web server and gis server. Does the tool require 6080 to be able to pass that test?

[2019-02-05 02:31] shailesh91 commented on #124
6443 is enough for this test.

[2019-02-05 07:45] spitzerr commented on #122
@shailesh91 yes line 100 fails.

[2019-02-06 22:30] shailesh91 commented on #122
@spitzerr this needs to happen on internal URL as CName could very well be an external load balancer endpoint which might not have been configured. I tried to check if this is indeed a problem on Azure, but couldn't repro this. Can you please run the following script on your azure portal machine. It will prompt you for a credential, please provide a primary site admin account credential.
[code]

[2019-02-07 14:55] spitzerr commented on #122
@shailesh91 unfortunately I cannot access our test-installation right now. As soon as I get access I'll try the script and give feedback to you.

 I think the problem occurs because the "Webcontexturl" is already set to the CName at these step. To come around this problem another solution could be to change the sequence and first do the Portal_TLS and setting the WebcontextURL at last or allowing

[2019-02-08 16:06] joekayaker opened #125 "Additional PowerShell DSC settings may be required"
We successfully installed ArcGIS Enterprise using a customized BaseDeployment-SingleMachine.json settings on a Windows Server 2016 Standard VM. We ran into a couple of issues before we were successful that we want to share to help others in case they run into them.

- **Unable to install NuGet and PowerShellGet** - When we attempted to run

`PS C:\Windows\system31> Install-Module ArcGIS`

 we rece

[2019-02-08 18:10] shailesh91 commented on #122
@spitzerr I tried it on a configured portal. But I will try to check if this is indeed the problem.

[2019-02-08 19:50] shailesh91 commented on #125
@joekayaker one way to get around the PowerShell issue is to download Module zip folder from GitHub and push it to target machines using the script below. This script also unblocks all the files in the ArcGIS Module Folder.
https://github.com/Esri/arcgis-powershell-dsc/wiki/Scripts-to-push-the-ArcGIS-Module
As for the 7-zip, it is a known limitation. We will try to tackle that in upcoming releases

[2019-02-08 20:28] joekayaker commented on #125
Thank you @shailesh91! I hadn't noticed the appendices until today....I'll definitely use them on my next installs.

[2019-02-08 20:52] nshampur commented on #125
we look for 7zip in program files.
https://github.com/Esri/arcgis-powershell-dsc/blob/821db80873e58051ffe94b27778d3c04d8c00c9d/Modules/ArcGIS/DSCResources/ArcGIS_Install/ArcGIS_Install.psm1#L106

is this a case where 7zip is not installed in Program Files?

[2019-02-08 20:59] joekayaker commented on #125
@nshampur we had 7-Zip installed on a drive other than C:\Program Files, for example X:\Program Files. Once we uninstalled from X: and reinstalled to C:\Program Files everything worked great.

[2019-02-09 18:29] nshampur commented on #125
@joekayaker . Gotcha.  Yes the code looks in program files which is typically on the OS disk (wherever that may be  C:\ or D:\)

[2019-02-10 20:44] hmelendez commented on #124
Port 6443 is enabled, 6080 is not. Still, the test fails but the actual configuration succeeds is just that it takes close to two hours of fail attempts to move to the next step. I did notice that the TLS 1.1, 1.2 aren't enable on the web server. This are the default protocols that are enabled on the GIS Server. I'm wondering if it migh be an ssl handshake issue and how could I enable those protoc

[2019-02-11 08:27] spitzerr commented on #122
@shailesh91 I tried your script and it fails at getting the token:
[code]

Just one thought about (not) using the cname here. As far as I could see the cname is used for federating the server with portal I think its absolutely useful and the expected behavior. Therefor if using an external LB for CName it hast to be configured at this point of time anyways. As Portal_TLS starts afterwards there sh

[2019-02-11 08:33] spitzerr commented on #122
@shailesh91
P.S.: If I open the Token-URL from above in a browser I'll get redirected to the given Nodename from the Config.json:
`https://esriportal-vm.esri.local:7443/arcgis/sharing/rest/generateToken`

[2019-02-11 18:36] shailesh91 commented on #122
@spitzerr in the context of Azure deployment this might be true where the Load balancer configurations might have happened before. But this might not always be the case. I will have to give this a little more thought.
Maybe we need to find a better way to handle redirections when making this get portal token call.

[2019-02-11 18:48] shailesh91 commented on #124
We do a simple server token check to see if the site is configured or not. Since this specific request is going through the web server, we are using the FQDN of the Server machine and we enforce TLS1.1 and TLS 1.2 at the request time, I don't think that is the reason.
```[System.Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12 -bor [Net.SecurityProtocolType]::Tls11 -b

[2019-02-11 18:58] shailesh91 commented on #122
@spitzerr Can you try the Invoke-WebRequest in the script with -PreserveAuthorizationOnRedirect switch parameter.

[2019-02-12 01:50] shailesh91 commented on #117
@hmelendez this issue is being caused by an empty string binding exception caused by the line below
https://github.com/Esri/arcgis-powershell-dsc/blob/0fa1ca8dcadaaa83b791bf48468787458a76dd3c/Modules/ArcGIS/DSCResources/ArcGIS_FileShare/ArcGIS_FileShare.psm1#L102
This will be fixed in the next version that will be available in last week of Feb or First week on March.

[2019-02-12 09:24] spitzerr commented on #122
@shailesh91 I couldn't test this switch parameter as it is introduced in PowerShell 6 and I'm on PowerShell 5.1 (which is latest Desktop version). I also tried using PowerShell Core 6, but this does not work either as the dnsclient module and therefor Get-FQDN is not applicable.

Maybe it is not about the redirect itself but about the certificate error before the redirection? As the url is an exte

[2019-02-13 22:01] hmelendez commented on #124
Here is the config.json for the federated server.
[GenPurp.json.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2862381/GenPurp.json.txt)

[2019-02-14 23:19] shailesh91 commented on #122
@spitzerr Can you please try the script I gave once again with the following change. (Adding a trailing slash to the following line).
```$url = ("https://$($PortalHostName):$($Port)/$SiteName/sharing/rest/generateToken")```
According to Nikhil this is sometime one of the reasons for redirections.
I am trying to setup a deployment for azure and run the module there meanwhile. If you could provide m

[2019-02-15 13:04] spitzerr commented on #122
@shailesh91  I tried the trailing slash, but it does not help at all. It is redirecting because of the privatePortalURL is different to the URL you find by Get-FQDN. Why are you not using the node-name here?

I got your sample working by adding these two lines:

About our Azure Environment I attached the [ARM-Template](https://github.com/Esri/arcgis-powershell-dsc/files/2869301/ARM-Template.zip) t

[2019-02-15 15:20] YushaRaiden opened #126 "Powershell dsc ArcGISInstall exception during start calling access denied"
Hello,

We have an issue with command Configure-ArcGIS. We use a server on CentOS 7 and we deployed 6 vms with VirtualBox : One on Windows 10 and the others on Widows Server 2016 on this physical server. These VMs are configured with NetBios with suffixe DNS and we installed DSC and ArcGIS module on each machine. We added on TrusdeHosts the ip adress of each machine on the Windows 10 from where we

[2019-02-15 16:22] nshampur commented on #126
Are you able to exercise a simple DSC push configuration in this environment

https://docs.microsoft.com/en-us/powershell/dsc/quickstarts/website-quickstart

[2019-02-16 10:45] YushaRaiden commented on #126
Hi nshampur,

Thank you for your reply. I'll test this next monday and I shall come back to you quickly to share with you results.
I' wonder if the host machine from which I launch Configure-ArcGIS is actually the source of my problem.
More specifically, the login and the password are not the same as other machines.
Could that be a problem to launch Configure-ArcGIS?

Thank you

[2019-02-18 12:53] prez13 commented on #79
@shailesh91 , @fraruilo Did you ever find a solution to this problem? We are currently facing the exact same challenge, upgrading from 10.5.1 to 10.6.1. We would be open to a Skype session.

[2019-02-18 14:13] YushaRaiden commented on #126
Hi,

I'm not able to push the config to a remote computer. It's tag as failed

[2019-02-19 19:17] shailesh91 commented on #124
@hmelendez Your config looks to be okay. But I still think the issue is related to the ports on Server Machine. There is one other thing you can do. You can modify this line to add ```-Verbose``` option and then run the config again. This might provide a little more verbosity.
https://github.com/Esri/arcgis-powershell-dsc/blob/0fa1ca8dcadaaa83b791bf48468787458a76dd3c/Modules/ArcGIS/DSCResources/Ar

[2019-02-19 19:26] shailesh91 commented on #122
@spitzerr node name is not always a reliable endpoint to make a web request as we have seen in our testing. I am validating the fix for the script you have provided. Can you try the portal function (with changes you made) in the above script by replacing it over here
https://github.com/Esri/arcgis-powershell-dsc/blob/0fa1ca8dcadaaa83b791bf48468787458a76dd3c/Modules/ArcGIS/ArcGISUtility.psm1#L43-L6

[2019-02-19 19:30] shailesh91 commented on #110
Merged!

[2019-02-19 19:30] #110 closed

[2019-02-19 19:32] shailesh91 commented on #102
This issue was solved in release 1.1.4.

[2019-02-19 19:32] #102 closed

[2019-02-19 19:36] shailesh91 commented on #76
Closing the issue. If the issue still persists please reopen.

[2019-02-19 19:36] #76 closed

[2019-02-19 19:40] shailesh91 commented on #101
Support for external file shares and the File Share only being used only for server or portal for "ContentDirectoryLocation" was added.

[2019-02-19 19:40] #101 closed

[2019-02-19 19:41] shailesh91 commented on #113
@pitks We will evaluate the listed problems. If you have a solution, PR is always welcome.

[2019-02-19 19:53] shailesh91 commented on #79
@prez13 the error is the above was not related to licensing. But accessing the following endpoint "https://$($ServerHostName):6443/arcgis/admin/upgrade". Probably this was rectified when Server was restarted. Were you able to repro this issue multiple time?

[2019-02-19 19:56] shailesh91 commented on #98
The issue was fixed in 1.1.3 and 1.1.4 release. Closing the issue. Please reopen it still persists.

[2019-02-19 19:56] #98 closed

[2019-02-20 06:44] spitzerr commented on #122
@shailesh91 I think we get redirected because the privatePortalUrl is set to the Nodename in our case. I understand that it is not reliable, but these lines figure out the private portal url and configures them at the portal. this privateportalurl should be used in any further request to portal as it redirects to this url from now on:
https://github.com/Esri/arcgis-powershell-dsc/blob/0fa1ca8dcada

[2019-02-20 10:18] spitzerr commented on #122
@shailesh91 It works by replacing Get-PortalToken with the following:

[code]

[2019-02-25 01:05] dwoollcombe opened #127 "Use Azure Files storage for configuration store using DSC?"
Hi,

I am deploying a multi machine ArcGIS Enterprise site in Azure and would like to use Azure Files (Cloud Storage) for the configuration store as well as the content store.

I have attempted to do this without success as I get an error related to FileShare.  It works okay when referencing non Azure Files share.  I have tried referencing UNC of Azure Files and also mapping as a drive:
PSDesiredS

[2019-02-25 01:34] nshampur commented on #127
@dwoollcombe

Couple of considerations
1. Performance of Azure Files (Standard SKU) is not good and hence not recommended for (m)any large deployments.  Azure Premium Files will be an option when it reaches GA later in the year.
2. Make sure the Azure Files is mounted by running the net use command as the ArcGIS Service Account

[2019-02-25 18:45] shailesh91 commented on #126
@YushaRaiden Can you even ping one machine from the other? If so, is PS Remoting enabled considering these are windows 10 VMs?

[2019-02-25 18:48] shailesh91 commented on #127
@dwoollcombe the Fileshare creation error is a reported bug that will be resolved soon.

[2019-02-25 21:45] shailesh91 commented on #122
@spitzerr I was trying to recreate your environment in Azure, but I am getting winrm errors about the machines not being in the trusted host list. Can you please lmk how did you counter this error.

[2019-02-26 06:59] spitzerr commented on #122
@shailesh91
First we did a `winrm quickconfig` on each machine and then we added all machines to the trusted hosts like this `Set-Item WSMan:\localhost\Client\TrustedHosts -Value 'esriportal-vm.esri.local,esriserver-vm.esri.local,esriwa-vm.esri.local,esriadmin-vm.esri.local'`.
Further more we used an additional administration-machine to start the DSC-Script from, which is not part of the ArcGIS En

[2019-02-26 14:48] YushaRaiden commented on #126
Hello shailesh91,

Indeed it was my fault because i didn't set files installer in the installer path for all servers Esri.
Sorry. And I have another problème with the installer for Application Request Routing 3.0 . The error generated is [error] Failed to Install Microsoft Application Request Routing `3.0`. All my vm and thier IIS server are signed with openssl by a root certificate and intermedia

[2019-02-26 20:23] YushaRaiden commented on #126
A few more details: I have checked the product id of the msi packages and they correspond well to what is in the json file. Are there any prerequisites on the LoadBalancer machine? I signed the IIS server with openssl certificates.

[2019-02-26 21:16] dwoollcombe commented on #127
Thanks for your advice.

I tried mounting via 'net use' and still had an error.  I guess this is related to the bug @shailesh91 referred to.  The bug and advice on Azure Files (Standard SKU) will have me use a file share hosted on a windows server for now.  I am keen to try again when bug address and Azure Premium Files available.

[2019-02-26 21:16] #127 closed

[2019-02-26 21:59] shailesh91 commented on #126
@YushaRaiden
- We don't support any language other than English as of now.
- I also noticed that you added a federation block, since it is automatically inferred. For a federated server role you will have to create a different JSON Config.
- For ARR can you please check if the Product Id matches that of the installer requestRouter_x64.msi.

[2019-02-26 22:16] shailesh91 commented on #122
@spitzerr I recreated your environment, I was not able to repro the redirection.
When I open the generate token endpoint in a browser window, it is not redirected to private portal URL or the webcontexturl. If you want we can compare our environments tonight if you want on skype.

[2019-02-27 09:16] YushaRaiden commented on #126
Thank you for all your answers. Indeed, I was not using the correct version of requestRouter compatible with Windows Server 2016. It works now but I have a problem with the confg-store. On the configuration of one of my two servers I have the following error:  The configuration store location contains server configuration files that are being used by another site. File sharing is done via the virt

[2019-02-28 22:15] shailesh91 commented on #122
@spitzerr https://github.com/Esri/arcgis-powershell-dsc/blob/0fa1ca8dcadaaa83b791bf48468787458a76dd3c/Modules/ArcGIS/Configuration/ArcGISConfigure.ps1#L785-L795

To Portal_TLS resource just add the portalendpoint property
``` Portalendpoint = $MachineFQDN ```

This should hopefully resolve your problem of not being able to get the token.

[2019-03-06 12:33] prez13 opened #128 "Question: Can DNS alias be used for NodeName?"
We want to install an general purpose GIS Server and want to make it as independent of machine names as possible, with a later migration to other machines in mind. When using PowerShell DSC for deployment, is it possible to use a DNS alias instead of a machine name or IP for NodeName?

[2019-03-06 19:29] Biboba commented on #55
Hello,

I just faced the exact same issue: no mention of a D drive in my config file but I get the following error: "PowerShell DSC resource ArcGIS_Server  failed to execute Set-TargetResource functionality with error message: CreateSite Failed. Error:- Failed to create the site. Configuration store error. File system 'D:\arcgisserver\local\config-store' connection failed. The specified location i

[2019-03-07 05:15] shailesh91 commented on #55
@Biboba we found a property (default config store in hostname.properties file in server install dir/framework/etc folder) we set that can be the cause of this issue. We will validate this soon and if so we will implement a workaround.

[2019-03-07 05:18] shailesh91 commented on #128
@prez13 it can possibly be used but in issue #122 we found a bug that prevents its use as of now. A new version will be available in Late March, which will try to address the issue.

[2019-03-07 05:19] shailesh91 commented on #126
@YushaRaiden Was the config-store directories already created before the run of the Configure-ArcGIS command?

[2019-03-07 09:03] Biboba opened #129 "ArcGIS Server createSite issue: machine different than self-signed certificate"

[2019-03-07 09:15] #129 closed

[2019-03-07 09:58] Biboba opened #130 "ArcGIS Federation fails silently"
Hello,

After running ArcGIS Install no error was reported so I thought everything went fine.
Testing the portal, I realized that the federated ArcGIS Server was not a "Hosting one" but it should have been. Looking at the verbose log, I noticed the error:

[WARNING]:- Update operation did not succeed. Error:- Failed to update federated server 'FQDN:6443 (id: foobar)'. The ArcGIS Server site has no

[2019-03-07 12:12] nshampur commented on #130
@Biboba - Thanks for reporting.

The Federation operation can often return false negatives for various reasons and hence we choose to ignore certain errors as warning to avoid deployment/configuration failures. We'll look to see if this is an error condition that is worth catching.

[2019-03-07 16:11] Biboba opened #131 "Support for several licence files"
Hello,

Following issue https://github.com/Esri/arcgis-powershell-dsc/issues/130, I realized that it is not possible to authorize an ArcGIS Server with several roles.
Indeed, if you generated a .prvc with 2 roles and 1 extension (eg: ArcGIS server standard + Image Server + Network analyst), only 1 role and the extension are activated by the licence manager (it is the same when it is done manually

[2019-03-07 16:17] nshampur commented on #131
It's usually not recommended to have the same server perform multiple roles.
However the license manager should accept all information provided in the license file.

Are you observing consistent behavior where it does not apply?

[2019-03-07 16:23] Biboba commented on #131
Thanks for the reply.
Yes, I am observing consistent behavior where it does not apply. Also with the Wizard.

My prvc is like ending like that:
// Features and authorization numbers
ArcGIS Server=ECPAAAAAAAAA
ArcGIS Server=ECPBBBBBBBBBB
Network Analyst Server=ECPCCCCCCCCC

The second role is not installed. If I switch the order, then it is the other one which is not authorized.
But the extension i

[2019-03-07 16:27] nshampur commented on #131
what version are you observing this behavior with?

[2019-03-07 16:27] Biboba commented on #131
10.6.1

[2019-03-07 16:30] nshampur commented on #131
let me check with out licensing team and see what behavior is expected.

[2019-03-07 17:44] nshampur commented on #131
I spoke to our licensing experts and the workaround for this scenario (since our automation does not support a sequence of multiple licensing files) is to make the Feature name unique. In your case rename the second occurrence of "ArcGIS Server"  to "ArcGIS Image Server" or "ArcGIS Server2".  The name does not matter in almost all scenarios. Its the activation numbers that are really the key piece

[2019-03-07 17:45] Biboba commented on #131
@nshampur Many thanks for your quick reply and fix 🥇

[2019-03-08 05:58] CViles commented on #131
@Biboba actually please use "ArcGIS Server2" rather than "ArcGIS Image Server"!

The Software Authorization Wizard is designed to only authorize a single core product at a time, which effectively means that the last core product in the provisioning file is the only one used.  This is why only one of your current roles is being authorized.  The provisioning name "ArcGIS Image Server" is *also* a va

[2019-03-08 12:43] Biboba commented on #131
@nshampur  and @CViles, I confirm that udating the variable name works.

With the following config file, ArcGIS Server role, Image Server role and Network analyst extension were authorized in one shot:
// Features and authorization numbers
ArcGIS Server=ECPAAAAAAAAA
ArcGIS Server1=ECPBBBBBBBBBB
Network Analyst Server=ECPCCCCCCCCC

Thanks

[2019-03-08 12:59] Biboba opened #132 "Cannot install SSL certificate because arcgis server machine is registered with its IP"
Hello,

I don't know why but my machine registered on the ArcGIS server is registered with its IP rather than FQDN
https://FQDN:6443/arcgis/admin/machines/1.2.3.4

And when I try to upload SSL Certificate using "SslCertifcates" property, I received the following error:
"Not able to find machine in site with either hostname $MachineName or fully qualified domain name $FQDN"

Any idea, why was the m

[2019-03-08 13:28] Biboba commented on #132
You will find below more details from the VERBOSE log.
But what I find interesting in this log is the following line:

[HOSTNAME]:                            [[ArcGIS_Server]ServerHOSTNAME] Using File System Based Storage for the config store

I wonder if the file mentionned is the one located in "framework/etc/" named hostname.properties.
Because this file looks like the following:
#Hostname prop

[2019-03-08 14:52] nshampur commented on #131
Closed as resolved

[2019-03-08 14:52] #131 closed

[2019-03-08 19:42] shailesh91 commented on #132
As a workaround, for now, @Biboba you might want to clear that file (framework/etc/hostname.properties.)  out. And try rerunning the Configure-ArcGIS command.
PS. These are the default values that are already present in amazon ami that Esri provides that you are encountering.

[2019-03-08 22:24] Biboba commented on #132
@shailesh91 Thanks for the reply. Will try that.
Any thought about that one:
[HOSTNAME]: [[ArcGIS_WindowsService]ArcGIS_for_Server_Service] [WARNING] Stopping Server :- Cannot validate argument on parameter 'Message'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.

Thanks

[2019-03-08 23:06] shailesh91 commented on #132
@Biboba I am cannot repro this issue on my environment. Will need more info to repro this.

[2019-03-12 10:13] YushaRaiden commented on #126
Please excuse me, sir. The error comes from me since during the second attempt I did not delete the site configuration of the first. After removing the first attempt it worked.
I have problems with the configuration of the servers, the webadaptor and Portal. A priori the services cannot communicate together.
And I feel like the Portal site isn’t creating itself. In fact, all my machines are config

[2019-03-13 15:02] shayrob2 opened #133 "arcGIS/Group Managed Service Account (gMSA)"
All, do you know what verisons of arcGIS is gMSA compatible?   I have look at several articles and haven't gotten a clear answer for this question.  Any assistance you can provide would greatly be appreciated.

[2019-03-13 18:19] shayrob2 commented on #26
Did this work?  What version of ArcGIS can be a gMSA?

[2019-03-13 19:09] shayrob2 commented on #87
@shailesh91 can ArcGIS be configured as a group Managed Service Account? Any information or supporting documents you can provide would greatly be appreciated.

[2019-03-13 21:41] shailesh91 commented on #133
@shayrob2 ArcGIS Powershell Module doesn't support gMSA. There is an issue (#100) open but I can't give a definite ETA on when this feature will be available.

[2019-03-13 21:41] #133 closed

[2019-03-13 21:44] shailesh91 commented on #126
@YushaRaiden can you attach the config file you are using for the deployment?

[2019-03-14 08:23] spitzerr commented on #122
@shailesh91  yeah
the suggested fix from https://github.com/Esri/arcgis-powershell-dsc/issues/122#issuecomment-468460658 with `PortalEndPoint` in camelcase did the trick.
Do you implement this in the 10.7 release?

[2019-03-14 08:54] YushaRaiden commented on #126
[Mercator-Multimachines.txt](https://github.com/Esri/arcgis-powershell-dsc/files/2965438/Mercator-Multimachines.txt)

Thank for you reply. Here is the configuration file I use. I noticed that the portal installation doesn’t go all the way. In fact, when I try to finalize it by hand I realize that Firefox does not use the certificates of authority and server certificate that I imported. He seems to

[2019-03-14 13:12] shayrob2 commented on #133
@shailesh91 thanks for your response.  Can you please clarify the following things regarding ArcGIS and the Powershell DSC?

- After installation does ArcGIS have to be managed with Powershell DSC?
- Can you clarify that you can or cannot have ArcGIS managed service accounts outside of using Powershell DSC?

Any information you can provide would greatly be appreciated.

[2019-03-15 20:14] shailesh91 commented on #122
@spitzerr this will indeed be implemented in the new version of Module which will be backward compatible.

[2019-03-15 20:40] shailesh91 commented on #126
Something is wrong with your network configuration. For example, your FQDN "ags-mercator1.geomatic.local" is not resolving correctly.
In your logs, I found this in relation to Create site - "The server was unable to access the URL 'http://ags-mercator1.geomatic.local:6080/arcgis/services'. Please check your firewall and security settings. For more information, see the ArcGIS Server help topic Port

[2019-03-15 20:44] shailesh91 commented on #133
@shayrob2 you can definitely configure MSA accounts and it is not at all necessary to manage ArcGIS using Powershell DSC after deployment.
But you might run into problems when upgrading using Powershell DSC if you do configuration changes outside DSC. Though you can always upgrade manually.

[2019-03-18 10:36] YushaRaiden commented on #126
shailesh91,
I checked my network configuration and the ports are well open in Inbound Rules of firewall advanced settingsfor each machines. In the meantime, I replaced the password of the WebAdaptor pfx certificate that had special characters with a password without special characters. I also authorized the ports listed for ArcGIS Server, and Portal for ArcGIS in the Inbound Rules of firewall adva

[2019-03-19 02:53] shailesh91 commented on #126
Looks like your ContentDirectoryLocation might be a problem. Right now it is "\\\\VBOXSVR\\content". It should be something like "\\\\[Fileshare Machine Name 1]\\[Fileshare Name]**\\portalforarcgis\\content\\arcgisportal\\content**". Try appending the bold part. Let me know how it goes.

[2019-03-20 08:11] YushaRaiden commented on #126
Please forgive me for wasting your time, I really thought it couldn’t have come from this. I did what you told me (\\\\VBOXSVR\\portalforarcgis\\content\\arcgisportal\\content) and it worked. Really thank you. I just have one last question.  The federated stage doesn’t work.  Do you think this comes from a bad LoadBalancer (ags-mercator7) configuration? The advanced settings of firewall (Inbound r

[2019-03-20 17:00] shailesh91 commented on #126
@YushaRaiden Something is not correct with your load balancer configuration. Your load balancer portal endpoint is not accessible on AGS-MERCATOR1. Try logging into AGS-MERCATOR1 and try accessing portal lb endpoint through a browser window.

[2019-03-22 10:34] YushaRaiden commented on #126
Thank you for your advise. I will try this and come to you later

[2019-03-27 08:12] lorenzmeyer77 opened #135 "Support non-default 7zip installation paths"
Hi

I tried to run an ArcGIS GeoEvent Server DSC installation. I installed 7Zip as mentioned, but not in the default path C:\Program Files\7-Zip but in the path D:\APPS\7-Zip.
With this non default location, the DSC failes with the following error:
[WIN-T01]: LCM:  [ End    Set      ]  [[ArcGIS_Install]ServerInstall]  in 51.5010 seconds.
[WIN-T01]: LCM:  [ Start  Resource ]  [[ArcGIS_Install]GeoEv

[2019-03-27 09:59] YushaRaiden commented on #126
@shailesh91 I tested access to LoadBalancer from ags-mercator1 by broswer Windows and this is what I have : ![BroswerWindows_ConnectionAGSMercator1ToLB](https://user-images.githubusercontent.com/47668200/55066195-89877200-507d-11e9-8365-741bdb989540.png)
I also tested access to LoadBalancer from ags-mercator1 by Firefox broswer and this is what I have :
![BroswerFirefox_ConnectionAGSMercator1ToLB]

[2019-03-27 16:01] nshampur commented on #135
support for specifying the location of 7 zip is available in the upcoming 2.0 release that will available sometime next week.

[2019-03-29 17:21] mickhuska commented on #117
Any updates on this bug? Currently experiencing the same issue.

[2019-03-29 17:35] shailesh91 commented on #117
@mickhuska A fix is coming next week with release v2 along with support for 10.7.

[2019-04-01 23:49] hmelendez opened #137 "10.7 Upgrade does not configure Server Web Adaptor"
I ran an upgrade from 10.6.1 to 10.7 of a single machine base deployment. The GIS Server was installed but not configured.
[Upgrade_BaseDeployment_20190402_122107.log](https://github.com/Esri/arcgis-powershell-dsc/files/3031760/Upgrade_BaseDeployment_20190402_122107.log)

[2019-04-02 01:08] shailesh91 commented on #137
@hmelendez looks like your server was not started when you tried to register the web adaptor
[code]
Any chance you have IWA enabled? If not can you retry running the upgrade again. It is idempotent and should pick where it left.

[2019-04-02 02:37] hmelendez commented on #137
The GIS Server WebAdaptor fail to register because the Primary Site Administrator (PSA) of the GIS Server was disabled. Enabling the PSA allowed the upgrade to complete successfully,

Thanks for pointing the error message. I had not seen that.

[2019-04-02 02:38] #137 closed

[2019-04-08 21:37] shailesh91 commented on #117
Closing this issue. Fixed with release v2.0.0!

[2019-04-08 21:37] #117 closed

[2019-04-08 21:37] shailesh91 commented on #121
Closing this issue. Fixed with release v2.0.0!

[2019-04-08 21:37] #121 closed

[2019-04-08 21:38] shailesh91 commented on #123
Closing this issue. Fixed with release v2.0.0!

[2019-04-08 21:38] #123 closed

[2019-04-08 21:38] shailesh91 commented on #135
Closing this issue. Support added in release v2.0.0!

[2019-04-08 21:38] #135 closed

[2019-04-08 21:39] shailesh91 commented on #128
@prez13 Closing this issue. Fixed with release v2.0.0! Please try and reopen if this hasn't been resolved.

[2019-04-08 21:39] #128 closed

[2019-04-08 21:40] shailesh91 commented on #125
@joekayaker Closing this issue. Added support for externalizing 7zip path in release v2.0.0!

[2019-04-08 21:40] #125 closed

[2019-04-08 21:41] shailesh91 commented on #118
@scma-esrich Closing this issue. Fixed in release v2.0.0!

[2019-04-08 21:41] #118 closed

[2019-04-08 21:42] shailesh91 commented on #122
@spitzerr Closing this issue. Implement in release v2.0.0!

[2019-04-08 21:42] #122 closed

[2019-04-08 21:44] shailesh91 commented on #124
@hmelendez are you still getting this error?

[2019-04-08 21:49] shailesh91 commented on #126
@YushaRaiden this seems to be related to how your underlying infrastructure in set up.  Can you please contact ESRI support for further help.

[2019-04-09 10:14] scma-esrich commented on #118
Thanks @shailesh91 !

[2019-04-09 10:28] robal commented on #135
This doesn't seem to be working.
I've supplied SevenZipInstallerDir and SevenZipInstallerPath, and DSC is ignoring it, and trying to download it.

[2019-04-09 13:18] robal opened #141 "SendConfigurationApply function did not succeed"
Hi there.  Test driving version 2.0.0.
I'm installing a simple ArcGIS server 10.6 on Windows 2016 WMF 5.1 and always get:

Despite there are no errors in Verbose log at all. The server got installed fine.
[ArcGISInstall-4-9-2019-1-11-50-PM-Error.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3059161/ArcGISInstall-4-9-2019-1-11-50-PM-Error.txt)
[ArcGISInstall-4-9-2019-1-11-50-PM-Verbose.t

[2019-04-09 15:48] robal commented on #141
OK. Turns out the test is failing here:
https://github.com/Esri/arcgis-powershell-dsc/blob/b191e088660eda8516f13bb15fbbc5a35afcfefd/Modules/ArcGIS/DSCResources/ArcGIS_Install/ArcGIS_Install.psm1#L245

I don't know why, but the exception is not reported anywhere (DSC event log, logfiles, console).
Now I need find out why the test is failing. The server seems fine...

[2019-04-10 08:10] robal commented on #141
OK. After adding some additional logging to ArcGIS_Install.psm1, I've found that Test-Install is called with:
`Test-Install -Name "Server" -Version "10.6"`
The version I'm installing is 10.6.1, not 10.6.
Test-Install returns $false

[2019-04-10 20:11] shailesh91 commented on #141
@robal I am closing the issue. Looks like this stands resolved. If you have any other issues please reopen.

[2019-04-10 20:11] #141 closed

[2019-04-10 23:23] bweisberg opened #142 "Get-PortalToken causes SSL validation issues for subsequent calls to Invoke-RestMethod"
I have a PowerShell script that use `Invoke-RestMethod` to check the state of a service.  After invoking `Get-PortalToken` the next time I use `Invoke-RestMethod` with https endpoints I see errors:

[code]

[code]

For example, this works on a fresh machine:
`Invoke-RestMethod https://myportal.domain.com/portal/portaladmin/health`

then I do something else that calls Get-PortalToken:
[code]

after

[2019-04-10 23:32] bweisberg opened #143 "Best practices for configuring a secure environment"
How can we streamline the process of implementing these recommendations with ArcGIS PowerShell DSC?

https://enterprise.arcgis.com/en/server/latest/administer/windows/best-practices-for-configuring-a-secure-environment.htm

https://enterprise.arcgis.com/en/portal/latest/administer/windows/security-best-practices.htm

[2019-04-10 23:47] shailesh91 commented on #142
@bweisberg We set the following when we do a get portal token
[System.Net.ServicePointManager]::ServerCertificateValidationCallback = {$true}
This also affects any call you make after making Get-PortalToken
As suggested in the [blog post](http://agilepointnxblog.com/powershell-error-there-is-no-runspace-available-to-run-scripts-in-this-thread/) try setting the following before you make a rest call

[2019-04-10 23:54] nshampur commented on #142
@bweisberg
Since u are already using the ArcGIS PowerShell Module, you can also try
Invoke-ArcGISRequest commandlet and see if that works for you.

As @shailesh91 mentions, the above code will ignore certificate errors, mismatches

[2019-04-11 03:26] bweisberg commented on #142
@shailesh91 setting the callback to $null does indeed work.  @nshampur Invoke-ArcGISRequest also works and I use it whenever I make ArcGIS REST calls.  It sounds like when I need to call other REST methods with `Invoke-RestMethod` I need to reset the SSL validation with `[System.Net.ServicePointManager]::ServerCertificateValidationCallback = $null`.

Can the ArcGISUtility functions reset the valid

[2019-04-12 17:36] pcsswamin opened #144 "ArcGIS Pro Install Configuration"
Shailesh,

Do you plan to provide ArcGIS Pro installation configuration in the future?

Thanks
Subu

[2019-04-15 21:48] pcsswamin opened #145 "ArcGIS Server Standalone 10.7 deployment fails"
Started with GISServer-GeneralPurpose.json and modified it to remove all portal info. We want to test only a standalone General purpose ArcGIS Server deployment using ArcGIS PowerShell DSC

Get the following error:

**Error:**
PowerShell DSC resource ArcGIS_Install  failed to execute Set-TargetResource functionality with error message: ‪C:\install\ArcGISServer is not found or inaccessible
The Send

[2019-04-15 21:52] shailesh91 commented on #145
@pcsswamin Can you please run the Configure-ArcGIS with param -DebugSwitch or provide the logs that were generated?

[2019-04-15 21:52] shailesh91 commented on #144
@pcsswamin yes we do intend to provide installation configurations soon.

[2019-04-15 21:54] pcsswamin commented on #145
PS C:\install\SampleConfigs> Configure-ArcGIS -ConfigurationParametersFile C:\install\SampleConfigs\GISServer-StandAlone_DenaliClient.json -DebugSwitch
Dot Sourcing the Configuration:- ArcGISInstall
Compiling the Configuration:- ArcGISInstall

    Directory: C:\install\SampleConfigs\ArcGISInstall

Mode                LastWriteTime         Length Name
----                -------------         -----

[2019-04-15 21:57] pcsswamin commented on #145
[ArcGISInstall-4-15-2019-2-27-18-PM-Verbose.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3082206/ArcGISInstall-4-15-2019-2-27-18-PM-Verbose.txt)
[ArcGISInstall-4-15-2019-2-27-18-PM-Error.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3082207/ArcGISInstall-4-15-2019-2-27-18-PM-Error.txt)

Shailesh - Please find attached logs. I am happy to take the conversation offline as well

[2019-04-15 21:58] shailesh91 commented on #145
Seems to be a problem with the encoding of your JSON file. Can you make sure it is UTF-8? And can you replace all forward slashed with double backslashes?

[2019-04-15 23:40] pcsswamin commented on #145
[GISServer-StandAlone_DenaliClient_ToGITHUB_2.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3082388/GISServer-StandAlone_DenaliClient_ToGITHUB_2.txt)

Shailesh - I am using Visual Studio Code. I resaved the config json file with UTF_8. Please find attached. Same error as before on execution as before.

Log files are also attached below.

[ArcGISInstall-4-15-2019-4-17-40-PM-Error.txt](ht

[2019-04-15 23:43] shailesh91 commented on #145
The Reason I believe there is an error because of the highlighted in your logs.

PowerShell DSC resource ArcGIS_Install failed to execute Set-TargetResource functionality with error message: **_â€ªC_**:\install\ArcGISServer is not found or inaccessible

Can you send me the JSON Config file to shgoel [at] esri.com

[2019-04-16 18:43] DCHuber opened #146 "Support Multiple Web Adaptors Install and Configurations for a Single ArcGIS Server Installation"
Would like to see support added that would allow for installing multiple web adaptors for a single ArcGIS Server site.  The current configuration only allows for a single web adaptor to be installed for a given server, with the name and admin access set globally.

Our organizations standard AGS Site deployment includes two web adaptors installed on separate machines that support either anonymous a

[2019-04-16 19:00] pfoppe commented on #146
Vote up!

[2019-04-16 22:38] pcsswamin commented on #145
Thanks Shailesh for all your help.

Note to others - For some reason, Visual Studio code was not seeing the characters that powershell was seeing in the json file. I even tried resaving the json file with utf-8 encoding. However,these characters are easily seen in notepad or textpad. They probably came in through copying and pasting the path from windows dialog boxes. I would recommend viewing/edi

[2019-04-16 22:39] #145 closed

[2019-04-18 00:43] dird-hyang opened #147 "Access is denied"
This is my first attempt to run the dsc on a single machine base deployment.
It returns an error with" Access is denied". the execution file "is not found or inaccessible"
I suspect the error was caused by the UNC path with SPACE in it.
What is the syntax in the config file to include UNC and SPACE? This is the syntax I'm currently used:
"Installer":  {
                     "Path":  "\\\\XXX\\Info

[2019-04-18 02:28] dird-hyang commented on #147
Further info.
I created a mapped drive to avoid the SPACE issue.
However, I still got the access problem:
Starting DSC Job:- ArcGISInstall
VERBOSE: Time taken for configuration job to complete is 0.017 seconds
[BCBR2AGP1]: LCM:  [ Start  Set      ]
[BCBR2AGP1]: LCM:  [ Start  Resource ]  [[ArcGIS_Install]ServerInstall]
[BCBR2AGP1]: LCM:  [ Start  Test     ]  [[ArcGIS_Install]ServerInstall]
[BCBR2A

[2019-04-18 02:36] nshampur commented on #147
@dird-hyang - PowerShell DSC (by default) runs as the local system user. This user does not have access to network drives such as \\XXX\Information nor to mapped drives such as Z:\
Mapped drives in windows require a LogonSession that is associated with interactive windows login and not for Local System accounts.

have you tried running Configure-ArcGIS and specify the user to run as

[2019-04-18 06:22] dird-hyang commented on #147
Thanks for the reply.
I have modified the ps script like following:
foreach ($server in $servers) {
    $configjsonfile = "D:\InstallationPackages\Scripts\"+$server+"_BaseDeployment10_6_1.json"
    # get-content $configjsonfile
    Configure-ArcGIS -ConfigurationParametersFile $configjsonfile -Credential $cred
}
This is to deploy to two servers (test and prod) with base deployment option.
However,

[2019-04-18 15:45] prez13 opened #148 "GeoEvent Server SDK not installed"
When installing GeoEvent Server 10.7, the GeoEvent SDK is not installed, the folder is missing. The whole GeoEvent Folder is only about 800 MB compared to the normal 1 GB for 10.7. Otherwise, GeoEvent Server seems to work normally.

[2019-04-18 16:52] shailesh91 commented on #147
@dird-hyang Are you trying to configure deployments from a remote orchestrating machine? Is the file share only mounted and mapped on the orchestrating machine?

[2019-04-19 17:51] shailesh91 commented on #148
@prez13 do you see anything in install logs?

[2019-04-19 19:13] pcsswamin commented on #147
@shailesh91

I am trying something similar- applying patches to a standalone GIS Server from network folder containing the patch files.

I did run Configure-ArcGIS with -credential and supplied the domain account username that has access to this network folder.  I was able to type in the password successfully in the prompt but I still get the following error.

I am running this on a powershell ISE

[2019-04-22 21:42] pcsswamin opened #149 "Patches get reinstalled: Not idempotent, potential fix listed"
https://github.com/Esri/arcgis-powershell-dsc/blob/b191e088660eda8516f13bb15fbbc5a35afcfefd/Modules/ArcGIS/DSCResources/ArcGIS_InstallPatch/ArcGIS_InstallPatch.psm1#L155

If same config is reapplied, patches get reinstalled again.

For ArcGIS Server 10.7 patches, I found that I could fix this by changing the  above line of code to
$RegPath = "HKLM:\SOFTWARE\ESRI\Server10.7\Updates\*"

@shailesh91

[2019-04-22 22:44] dird-hyang commented on #147
@shailesh91
I copied the files to the local location using the remote-session. However, I still run-into the same problem.
The script I used:
foreach ($server in $servers) {
    Enter-PSSession -ComputerName $server

        If (!(Test-Path Z:)) {
            New-PSDrive -Name "Z" -PSProvider FileSystem -Root "[network UNC path]"
        }

        If (!(Test-Path D:\InstallationPackages)) {

[2019-04-23 04:47] dird-hyang commented on #147
@shailesh91

I tried run only the single server I'm on.  The script didn't return any error. Software and patches installed according to the log file.

However, it didn't pickup the certificates I specified, and all portals were not configure properly, nor the federation work.

I'm not sure if the module meant to do these automatically.

FYI, I have attached config file for your reference.
[BaseDe

[2019-04-23 05:27] dird-hyang commented on #147
Hi,
I'm not sure if I understand the instruction correctly. Do I need to run multiple times Configure-ArcGIS for each individual tasks, such as license the server, create server site, configure web adaptors, etc.
The log file tells me that only the software and patches are installed.
No configuration actions were performed at all.
When I tried to logon to the server manager with 6443 port, it comp

[2019-04-23 07:15] shailesh91 commented on #147
Helen,
You don't need to run it multiple times. To get a functioning ArcGIS site you need to run ```Configure-ArcGIS``` command with -Mode as InstallLicenseConfigure.
I have found some issue with your JSON config file though. I have attached what it should look like.
One thing I want to point out specifically is Alias for Certificate - It should be an FQDN with which the certificate you are specif

[2019-04-23 07:36] NorbertThoden opened #150 "AutoInstallation on Windows Server 2012 failed"
I am working on AutoInst based on powershell DSC

I have done an installation on Windows Server **2016** with ArcGIS Server, DataStore and WebAdapter 10.6. After solving some problems that worked fine.

Now i moved that scripts to a Windows Server **2012R2**. That should be a supported OS Platform also.
(https://github.com/Esri/arcgis-powershell-dsc/wiki/Getting-Started)

Unfortunately i get follo

[2019-04-23 08:01] shailesh91 commented on #150
@NorbertThoden Any chance you have xNetworking module installed on that machine? Or is there another module with submodule with name 'xfirewall'?

[2019-04-23 08:33] prez13 commented on #148
The install logs look good to me, nothing suspicious, and it says "GeoEvent installation was successful!". I just uninstalled the PS ArcGIS module and installed it again, then ran Mode Upgrade as suggested by an Esri support analyst; the SDK folder is still missing, the logs look good.

Maybe noteworthy that I had uninstalled the SW after the first install (using Modes Install / Uninstall), becaus

[2019-04-23 08:38] NorbertThoden commented on #150
Hi!
Is xNetworking / xFirewall a windows module?
I am not familar with windows. Can you please explain a bit more?
Thx

[2019-04-23 22:29] dird-hyang commented on #147
@shailesh91
Thanks for the prompt answer. One suggestion is that I couldn't find the description of the ArcGIS-configure options. It would be very helpful to add this in the home page.

I will test on both local and remote deployments and report the progress.
Helen

[2019-04-23 22:45] shailesh91 commented on #147
@dird-hyang noted. Meanwhile here is detailed getting started wiki to help you.
https://github.com/Esri/arcgis-powershell-dsc/wiki/Getting-Started

[2019-04-23 22:47] shailesh91 commented on #148
@prez13 do you observe the same behavior when installing manually?

[2019-04-23 22:50] shailesh91 commented on #150
No it is not.
Can you run the following command on your 2012R2 machine and check if the module is indeed installed.
```Get-InstalledModule -Name xNetworking```

[2019-04-23 22:51] dird-hyang commented on #147
Hi, Shailesh91,
Thanks for the info.
It made sense after your explanation. At first instant at the Getting-Started page, when I started to work on DSC, those options didn't make sense to me, although it might be self-explained for someone who knew what the package can do. For a new starter, it would be helpful to explain the option specifically.
Please forgive my picking. Just hope it could help o

[2019-04-23 22:55] dird-hyang commented on #147
@shailesh91.
I noticed there are other scripts in the module folder, such as PublishGISService, DeployWebApp and ArcGISRegisterSQLEDGE, etc.
How can I call these script? These are very useful while I'm migrating server from old version to the 10.6.1. I have many servers to be migrated. The script will be very helpful.
Thanks for the advice.
Helen

[2019-04-24 06:13] NorbertThoden commented on #150
Hi!
At the moment i don´t have access to the 2012RS machine and can´t execute the suggested command :-(

But i assume that update Windows Management Framework (WMF) could be a good idea:
https://docs.microsoft.com/en-us/powershell/wmf/overview

I will share my results later

[2019-04-24 08:44] NorbertThoden commented on #150
Background:
Typically our server host is a single purpose host -> GIS server and we work in disconnected state. So the system has almost no updates.

On the Server 2012R2 i updated WMF to version 5.1 (https://docs.microsoft.com/en-us/powershell/wmf/overview)
After that the powershell command "Install-Module" was avaiable.
I triggered the auto installation again (Configure-ArcGIS <file.json> and no

[2019-04-24 08:44] #150 closed

[2019-04-24 09:32] prez13 commented on #148
@shailesh91 When I install manually I get a prompt in the installation wizard to select the components (see attached screenshot). One of the components is GeoEvent Server, which is enabled by default, and the other component is the SDK, which is disabled by default. When I enabled the SDK component, it got installed.

Does this mean I am not able to use PowerShell DSC to deploy GeoEvent Server if

[2019-04-25 07:28] scma-esrich opened #151 "Additional parameter - Server Log Location"
It would be beneficial if one could specify the server-log-location in the JSON-config, similar to the other server-directories like "ConfigStoreLocation" or "ServerDirectoriesRootLocation".

This would spare us another step to be cared of AFTER the DSC-setup.

[2019-04-25 07:29] scma-esrich commented on #151
@jn-bedag

[2019-04-26 06:03] dird-hyang commented on #147
I have managed to get most of the installation on the server without using any remote process. All components are installed on the same server, except with two exceptions.

1. The data store didn't register automatically, although I can manually register the data store.

2. The federation did not run at all. Not sure if this caused by the first error.

I have attached the config file and the log f

[2019-04-26 19:44] shailesh91 commented on #147
@dird-hyang Correct, for the run on the first server. Federation doesn't happen because of the first error.
Was there an older version of portal installed on the 2nd server machine? If so the keycodes file from the previously licensed portal can be one of the reasons. Can you try running the configure-arcgis command again? It usually picks up from where it failed. And can you attach the complete l

[2019-04-26 19:47] shailesh91 commented on #148
@prez13 I think we never checked that SDK was just optional. I will try to provide a fix soon for this.

[2019-04-28 14:59] prez13 commented on #148
@shailesh91 Thank you for providing a fix. If we already wanted to use the SDK now, is there a way to install it as a workaround while keeping the environment valid for DSC?

[2019-04-28 16:39] nshampur commented on #148
@prez13 .. if u happen to know the silent install command for the GeoEvent setup that includes the SDK, then you can try wrapping that with the DSC Package resource

https://docs.microsoft.com/en-us/powershell/dsc/reference/resources/windows/packageresource

[2019-04-29 21:42] dird-hyang commented on #147
@shailesh91
I uninstall and reinstall, then install it again. The same error appeared. For your reference, I have attached the whole log folder for the 2nd server, and the config files.

One possible caused of the license error could be the license file has been used by the 1st server. Can the license file been reused? Thanks!

[BCBR2GIS5.zip](https://github.com/Esri/arcgis-powershell-dsc/files/31

[2019-04-29 22:38] shailesh91 commented on #147
@dird-hyang there seems to be an issue with your license file. Can you please authenticate the license file through Software Authenticator Wizard on the target machine. If not you should probably try opening a support ticket.

[2019-04-29 23:51] dird-hyang commented on #147
@shailesh91
I have manually authenticated the server and portal, they both are ok. Not sure why the script doesn't recognise the license file. It is ok on the first server though.

I'm running the configure again and will let you know the result.

Thanks for the help.

[2019-04-30 00:13] dird-hyang opened #152 "ArcGIS Desktop installation and patch configuration"
It would be very help to have configuration to install ArcGIS Desktop and patches automatically.
Thanks
Helen

[2019-04-30 04:33] dird-hyang opened #153 "ArcGIS Enterprise service patches installation repeated"
Hi,
After the first execution of the Configure-ArcGIS with InstallLicenseConfigure, when I rerun the script, all existing successful installations have been skipped. However, The service patches constantly repeated been installed.
Please allow the skip of the service patch installation.
Thanks
Helen

[2019-04-30 04:36] shailesh91 commented on #153
@dird-hyang this is a duplicate issue. Please reference #149. Closing this.

[2019-04-30 04:36] #153 closed

[2019-05-01 19:55] PleaseStopAsking opened #154 "Unable to generate Server token in ArcGIS_Server_Service"
When using the ArcGIS_Server_Service resource, it fails with the below error. This is due to the attempt to pass just the username of the $PublisherAccount parameter https://github.com/Esri/arcgis-powershell-dsc/blob/b191e088660eda8516f13bb15fbbc5a35afcfefd/Modules/ArcGIS/DSCResources/ArcGIS_Server_Service/ArcGIS_Server_Service.psm1#L111 while the Get-ServerToken function expects a $PSCredential o

[2019-05-01 20:10] PleaseStopAsking opened #155 "Unable to publish service due to required parameter"
When using the ArcGIS_Server_Service, it will fail when the resource attempts to call the Publish-ArcGISService function due to the $PortalToken parameter being set to Mandatory even if its not needed.

This should be optional as not all deployments will use ArcGIS Portal and there is already logic to account for the parameter being passed at all.

[code]

https://github.com/Esri/arcgis-powershell

[2019-05-01 20:57] PleaseStopAsking opened #157 "Services are not published into folders as expected"
When publishing services with the ArcGIS_Server_Service resource, it does not respect the folder key and instead publishes the services directly into the Site (root) folder. Along with not publishing the services into their respective folders, it throws an error.

[code]

[code]

[2019-05-01 22:00] dird-hyang commented on #147
@shailesh91
Rerun the script on a completely new server. The process still returns the error. After manually configure the license, some errors still returned. My observation includes:
1. the service patch installation ignored.
2. Portal site configuration failed.
I have attached the log files and the configure files for your reference.
Thanks for the help.
Helen
[BCBR2GIS5.zip](https://github.com

[2019-05-01 22:14] shailesh91 commented on #147
@dird-hyang something is not correct with your portal license file and keycode file being generated in program files. It is preventing you to create a portal site. You should really call ESRI support. They will help you troubleshoot this issue.

[2019-05-01 22:17] shailesh91 commented on #155
@PleaseStopAsking I will review this and merge this.
Just an FYI, Publish-ArcGISService is not supported and feature complete function yet.

[2019-05-01 22:21] shailesh91 commented on #154
@PleaseStopAsking can you please submit this as part of the PR #156. Thanks.

[2019-05-01 22:38] dird-hyang commented on #147
@shailesh91
I have manually authenticated with the file. They are ok with the site.
When I rerun the configuration,  it fails at ArcGISFederation. I'm OK to manually to configure the federation part.

Now, I need to manually install the patches.
FYI. The federation error message is, I have also included the new log files.
[BCBR2GIS5.zip](https://github.com/Esri/arcgis-powershell-dsc/files/3136221/

[2019-05-01 22:42] dird-hyang commented on #155
@shailesh91
I'm planning to use this function after my server configuration completed.
Is there a planned schedule to support this function?
Helen

[2019-05-01 23:09] PleaseStopAsking commented on #154
@shailesh91 Done

[2019-05-02 04:54] MAHDTech opened #158 "Updating certificate with the same alias fails"
When performing an initial DSC run the certificate is imported successfully.

If you change the path to a NEW certificate, but leave the Alias within the DSC JSON the same, the new certificate is not imported.

If possible can you please add the feature to check if the serial of the existing certificate installed in each role matches the one in the JSON, and if not, overwrite the cert using the sa

[2019-05-02 05:55] #155 closed

[2019-05-02 05:56] shailesh91 commented on #154
Merged #156

[2019-05-02 05:56] #154 closed

[2019-05-02 06:01] shailesh91 commented on #147
@dird-hyang The json config file has an extra federation block which is causing the error. That block is only required standalone server federation with base deployment.

[2019-05-02 06:12] dird-hyang commented on #147
Thanks. @shailesh91. I will close the issue now.

[2019-05-02 06:12] #147 closed

[2019-05-03 18:14] Biboba commented on #55
@shailesh91
FYI, I just tried a 10.7 installation and did not have this issue any more.
Indeed, hostname.properties file does not contain the 'defaultDirectoriesRoot' property anymore

[2019-05-03 22:32] Biboba commented on #132
@shailesh91
Deleting the file "hostname.properties" and rerunning Configure-ArcGIS does not work. It get stuck for ever at testing "ArcGIS_Server".
Indeed, after restarting the ArcGIS Server, I cannot connect to it myself.

Having a look at the ArcGIS Server log:
<Msg time="2019-05-04T00:03:03,974" type="WARNING" code="7315" source="Admin" process="14484" thread="1" methodName="" machine="100.99.9

[2019-05-04 03:38] cameronkroeker commented on #132
@Biboba

Perhaps the instance has more than one Network Interface Controller card (NIC) or DNS record. This could be why Portal/Server/DS is binding to the IP instead of FQDN.

The hostname.properties file may need to be modified to point to the FQDN for Portal/Server/DS respectively:

[AGS](https://enterprise.arcgis.com/en/server/latest/deploy/windows/multiple-nic-cards-dns-entries.htm)

[Portal]

[2019-05-06 06:14] Biboba commented on #132
Hello @cameronkroeker,

Thanks for your reply.
I don't think that there is more that one NIC:
`netsh interface show interface`
returns only one interface for Ethernet.

I tried a deployment of ArcGIS Enterprise on a single host and I don't have this problem with Portal for ArcGIS or with the datastore. The machine name is configured to FQDN for them.
Also, the script is already setting the hostnam

[2019-05-06 13:24] Biboba commented on #132
So I confirm that if I comment out the following section:
https://github.com/Esri/arcgis-powershell-dsc/blob/11e0364c92e3cfdb31270d415accabef4a71ce74/Modules/ArcGIS/DSCResources/ArcGIS_Server/ArcGIS_Server.psm1#L156-L159

Everything works as expected and the ArcGIS Server is properly configured with FQDN and does not switch to IP when restarted. Basically "hostname.properties" is never created.

I

[2019-05-06 13:46] Biboba opened #159 "Register Portal for ArcGIS WebAdaptor fails: Output of execution: "Portal configuration requires fully qualified domain name in the WebAdaptor URL""
I am testing an ArcGIS Enterprise 10.7 deployment on one machine with 2 web adaptors : one for the ArcGIS Server and one the Portal.
Registering the ArcGIS Server one is successfull but registering the Portal one returns the following message:
[code]
Thus it is not registered and it is not consired as an error so at first glance I thought that everything went fine.

Indeed, the hostname is used in

[2019-05-06 16:20] Biboba opened #160 "Cannot Federate Server : stuck at testing"
Hello,

I am trying to test an ArcGIS Enterprise 10.7 deployment on one machine and the federate operation get stucks at testing.

Debugging the configuration, I understood that it keeps trying to generate a token to the Portal forever:
https://github.com/Esri/arcgis-powershell-dsc/blob/11e0364c92e3cfdb31270d415accabef4a71ce74/Modules/ArcGIS/DSCResources/ArcGIS_Federation/ArcGIS_Federation.psm1#L1

[2019-05-06 17:07] shailesh91 commented on #159
@Biboba we are not using HostName. If you take a look at the Configure-ArcGIS resource, we do try to get the FQDN of the portal machine before we pass it to web adaptor resource.
https://github.com/Esri/arcgis-powershell-dsc/blob/11e0364c92e3cfdb31270d415accabef4a71ce74/Modules/ArcGIS/Configurations-OnPrem/ArcGISConfigure.ps1#L1163

Can you please attach your JSON config files, Log Files and infor

[2019-05-06 17:12] shailesh91 commented on #160
@Biboba the call is being made to the FQDN. The calling ArcGISFederation resource always try to get the FQDN of the portal machine.
https://github.com/Esri/arcgis-powershell-dsc/blob/11e0364c92e3cfdb31270d415accabef4a71ce74/Modules/ArcGIS/Configurations-OnPrem/ArcGISFederation.ps1#L72

As a simple test can you try running the (Get-FQDN $PortalNodeName) on your orchestrating machine and check if th

[2019-05-06 17:57] Biboba commented on #160
Thanks for your reply @shailesh91 !
If I check the generated mof file for ArcGIS Federation, I have  :
`"PortalHostName" = "myhostname";`

So it is not set to FQDN.
Does that mean that something went wrong with the configuration ?

Thanks

[2019-05-06 17:59] shailesh91 commented on #160
@Biboba can you please attach your json config file and can you please tell about the deployment setup you have.

[2019-05-06 18:16] Biboba commented on #160
Yes.
So it's an ArcGIS Enterprise 10.7 deployment on one machine:
[Deployment.json.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3149283/Deployment.json.txt)

Thanks !

[2019-05-06 18:19] shailesh91 commented on #160
[Deployment.json.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3149295/Deployment.json.txt)
I made a change to ssl section. And you need to give an FQDN for the alias of the certificate.

[2019-05-06 18:30] spitzerr commented on #160
I thought "Alias" is a little bit vague in this case. As it could be understood as an alias for the certificate which is used in ArcGIS Backend to identify the Certificate and not the CN/SAN of the certificate. Maybe it is possible to rename the parameter in a future release?
@scma-esrich FYI

[2019-05-07 06:02] Biboba commented on #160
Many thanks @shailesh91 !
It does solve the issue.

On a side note, I agree with @spitzerr: I was misguided by the "alias" which I supposed was as the same as the parameter of the Admin REST API operation "importExistingServerCertificat" that is to say just a name:
https://developers.arcgis.com/rest/enterprise-administration/portal/import-existing-server-certificate.htm

Also the Wiki is not very

[2019-05-07 06:02] #160 closed

[2019-05-07 06:04] Biboba commented on #159
Misconfiguration of the certificate alias property:
solved with #160.
Once again, many thanks @shailesh91

[2019-05-07 06:04] #159 closed

[2019-05-07 06:29] Biboba commented on #132
To put it in a nutshell, I believe the question is why is the hostname.properties file overwritten by the "AgsStartup plugin" of the ArcGIS Server ?

[2019-05-07 07:18] spitzerr commented on #160
@Biboba Do you mind to open a new Issue for the Alias part? I like your summary in the last post about this topic.

[2019-05-07 07:28] Biboba opened #161 "Confusing certificate "alias" property"
Following #160 (and #159), I was misguided by the "alias" certificate property which I supposed was as the same as the parameter of the Admin REST API operation "importExistingServerCertificat" that is to say just a name:
https://developers.arcgis.com/rest/enterprise-administration/portal/import-existing-server-certificate.htm

Also the Wiki is not very clear about its property:
"The alias with wh

[2019-05-07 14:24] nshampur commented on #132
This is an EC2Observer node agent plugin that tries to account for hostname changes in AWS EC2.
This may be what is happening here.

[2019-05-07 15:45] Biboba commented on #132
Thanks for the reply @nshampur.
FYI, my VM is hosted in Openstack and I don't know if it can help but in the log of ArcGIS Configure there is:
"Version of ArcGIS Server does not require removal of EC2 Listener from NodeAgent xml file"

[2019-05-07 15:53] joekayaker opened #162 "Clarify valid values for PortalLicenseUserType parameter"
Trying to confirm that the 10.7 JSON configuration file (**BaseDeployment-SingleMachine.json**) should have the following variable set as: **"PortalLicenseUserType": "Creator"**? That is the user I have listed as options, besides Viewer, in my Portal license file (*.json). But "GIS Professional" appears to be a more robust user in the new 5 tier user types, but isn't an option in the license file.

[2019-05-07 16:08] cameronkroeker commented on #162
@joekayaker

The Creator user type ID is creatorUT:

"PortalLicenseUserType": "creatorUT"

If you would like to use GIS Professional there are the following options:

GISProfessionalAdvUT
GISProfessionalStdUT
GISProfessionalBasicUT

However, you can only use what is available within your portal license json file. If these options are missing from the license file then you will need to recreate it

[2019-05-07 19:15] cameronkroeker commented on #162
@joekayaker

The Portal site initial administrator account can be created with the level 2 user types. The "PortalLicenseUserType": "" references the user type by name. So for example, the following options can be used as long as your portal json license file accommodates:

"PortalLicenseUserType": "Creator"
"PortalLicenseUserType": "GIS Professional Basic"
"PortalLicenseUserType": "GIS Profession

[2019-05-08 02:31] MAHDTech commented on #161
I had the same issue.

I had assumed the alias was only used as the entry for storing the cert inside the tomcat keystore however it's also used for the connectivity between the hosts.

ie, if you are using webadaptor you should use the WebAdaptor FQDN for the alias for communication to succeed.

[2019-05-08 02:35] MAHDTech opened #163 "Portal EnableAutomaticAccountCreation seems backwards"
In the dsc json if you set the following for Portal

`EnableAutomaticAccountCreation: "false"`

My assumption was that;

* setting this to "true" enables the setting
* setting this to "false" disables the setting

However automatic account creation gets enabled even if it is set to false as the check is just if the key exists and not what the value is.

[Code Block 1](https://github.com/Esri/arcgi

[2019-05-09 21:57] shailesh91 commented on #163
@MAHDTech The code seems to be correct. This condition ``` $securityConfig.enableAutomaticAccountCreation -ne "true" ``` is being checked against the output of the portal api request fetched in this LOC - ``` $securityConfig = Get-PortalSecurityConfig -PortalHostName $FQDN -Token $token.token``` and not against the variable  $EnableAutomaticAccountCreation (This is a boolean variable and the condi

[2019-05-09 22:06] shailesh91 commented on #161
@Biboba @MAHDTech @spitzerr The wiki has been updated to clarify the alias param. We will consider refactoring this parameter name in a future release.

[2019-05-10 13:19] PleaseStopAsking opened #164 "Security scan resources"
During any new deployment, we will run the ArcGIS Server and Portal serverScan.py script to get an initial baseline that we then document for auditing purposes. To automate this step, I have created a custom resource that has been working great but I have recently came back to reviewing it and am not sure a standalone resource is needed as a property could be added to each respective resource to d

[2019-05-10 14:11] grumor opened #165 "InstallLicenseConfigure fails with ArcGISConfigure"
@shailesh91
Im installing Portal and webadaptor on a server each. Started with InstallLicensenConfigure and met an error. I tested Install and InstallLicenses. They work fine. But when using InstallLicensenConfigure I first get a warning then invalid MOF definition

Any idea to resolve this?
This is the error in Powershell window:

WARNING: It is not recommended to use domain credential for node '

[2019-05-10 16:41] Biboba commented on #161
@shailesh91 Much clearer : thanks !

[2019-05-11 18:57] Biboba opened #166 "Additional parameter - ArcGIS Server directories location"
Hello,

I think it would be nice to be able to specify each default arcgisserver directories location in addition to a generic "ServerDirectoriesRootLocation".

Something like:

[code]

that would end up configured:

![Directories](https://user-images.githubusercontent.com/11556423/57573857-23895b00-742f-11e9-8a3a-4095a73f7cd5.PNG)

Many thanks for the tool !

[2019-05-13 10:16] Biboba opened #168 "Additional parameters - AdminSecurityQuestionIndex and AdminSecurityAnswer"
Hello,

Currently, values for "AdminSecurityQuestionIndex" and "AdminSecurityAnswer" are hardcoded.
I think it would nice to be able to specify them in the config:

[code]

Thanks !

[2019-05-13 22:57] pfoppe opened #169 "Consider supporting a .cer SSL Certificate without a password"
Our agency Certificate Authority currently provides .cer SSL certificates without a password.  Unfortunately it seems that the arcgis powershell module has multiple checks for an SSL certificate password and if the password is not set then the module generates a self-signed certificate.  We then have to fix the IIS SSL Certificate after the InstallLicenceConfigure.

Thanks for the consideration.

[2019-05-14 05:43] Biboba commented on #132
@cameronkroeker, do you think a bug for the ArcGIS Server product should be opened ? It looks to me more about the ArcGIS Server than arcgis-powershell-dc ?
Thanks

[2019-05-14 14:39] cameronkroeker commented on #132
Hello @Biboba,

I recommend opening an Esri Technical Support case, so that they can help investigate the issue further.

Thanks,
Cameron

[2019-05-14 14:44] pfoppe opened #170 "Do not log account passwords"
In reviewing results of an execution, the **ArcGISConfigure-<dt>-Verbose.txt** file has passwords logged to the file.  This is generally not a security best practice and logging passwords should be avoided.

Here is a sample (redacted):

[2019-05-14 15:19] pfoppe opened #171 "Update documentation for invalid config variable "DataStoreType""
The WIKI indicates the AllNodes.DataStoreType parameter while the samples are AllNodes.DataStoreTypes (included an 's').  Documentation should also indicate this is an array (multiple choices).

Docs - https://github.com/Esri/arcgis-powershell-dsc/wiki/Variables-reference-page-for-JSON-configuration-files

Example - https://github.com/Esri/arcgis-powershell-dsc/blob/master/SampleConfigs/Base%20Dep

[2019-05-15 11:38] joekayaker commented on #162
@cameronkroeker

Thanks for the clarification!

[2019-05-15 11:38] #162 closed

[2019-05-15 20:33] PleaseStopAsking commented on #157
Further testing shows that if I run the configuration once more without any changes, it will successfully complete on the second run.

[2019-05-16 15:46] amarilatitude commented on #162
Hi there! I'm doing a 10.6 installation. What would be the possible values in this case? Would it be "Level2" for example? Thanks!

[2019-05-16 15:53] cameronkroeker commented on #162
@amarilatitude

The "PortalLicenseUserType" parameter is only applicable to 10.7 and above. This is not needed/utilized for 10.6.1 and below.

Thanks,
Cameron K.

[2019-05-16 15:54] amarilatitude commented on #162
Thanks Cameron!

[2019-05-16 18:12] shailesh91 commented on #170
@pfoppe this is an aberration. we will fix this in the upcoming release.

[2019-05-16 18:27] shailesh91 commented on #171
@pfoppe The typo in documentation is fixed now.

[2019-05-16 18:39] shailesh91 commented on #165
@grumor can you confirm that you don't have the xNetworking module installed? This error sounds very similar to some of the users have encountered due to submodule naming conflicts.

[2019-05-16 19:33] grumor commented on #165
@shailesh91 i will check during the weekend. Do have a brief explanation how to check if it is install. (I could probably google it to find how, but if you have it by your fingers, i will preseate a quick solution)

[2019-05-16 20:17] #171 closed

[2019-05-20 05:03] hmelendez commented on #124
Yes I continue to get the same issue. I added the -Verbose on line 104 as you requested but I did not see any diference in the log.
[Install_BaseDeployment_20190520_165113.log](https://github.com/Esri/arcgis-powershell-dsc/files/3196320/Install_BaseDeployment_20190520_165113.log)

[2019-05-20 05:17] hmelendez opened #172 "Deployment stops after ArcGISInstall Job finish"
I'm deploying a new site using ArcGIS Module 2.0.0, after the installation step _Finished DSC Job:- ArcGISInstall_ is compleated the execution ends without any error. It does not continue to the configuration.
[Install_BaseDeployment_END.log](https://github.com/Esri/arcgis-powershell-dsc/files/3196336/Install_BaseDeployment_END.log)

[2019-05-20 20:16] shailesh91 commented on #172
@hmelendez I am assuming you are setting the mode to "Install". To configure the whole enterprise stack you need to use mode "InstallLicenseConfigure" starting version 2

[2019-05-20 21:47] #172 closed

[2019-05-20 21:48] hmelendez commented on #172
Small change that I was not aware. Thanks for the quick reply.

[2019-05-21 11:07] grumor commented on #165
@shailesh91  I **have identified the reason why this error occur**s!  Our servers is created by Powershell DSC by our partner, and are using a newer version of the xFirewall resources that is embedded in the ArcGIS module. In the ArcGIS module version 2.0 is used and my partner use 5.4. The reason is a naming conflict when running the ArcGIS module.
The lead specialist that looked into this sugges

[2019-05-21 14:27] amarilatitude opened #174 "Clarify the "FileShare" role for multi-machine GEneral Purpose ArcGIS Setup"
Hi there! We are trying to install a two-server ArcGIS GEneral purpose (and federate that with an existing Portal). We are confused by a few things:

1) On the example file "GISServer-GeneralPurpose-MultiMachine.json", the "roles" for the first machine includes a role called "FileShare"? What is this for? We have a file share on a nas, separete from the two ArcGIS Machines. Also, the Wiki doesn't

[2019-05-21 18:33] PleaseStopAsking commented on #157
Reviewing calls from ArcGIS Server Manager when publishing an .sd file shows that the folder must be created as a separate task before publishing takes place within the Submit-ArcGISPublishJob function.

https://github.com/Esri/arcgis-powershell-dsc/blob/72c8a26007170cbdf231ab024501e99d2d82274b/Modules/ArcGIS/DSCResources/ArcGIS_Server_Service/ArcGIS_Server_Service.psm1#L621-L622

Also, the call t

[2019-05-21 22:16] shailesh91 commented on #165
@grumor this is being renamed in the upcoming release.

[2019-05-22 07:34] grumor commented on #165
@shailesh91  thx!

[2019-05-22 22:16] shailesh91 commented on #174
@amarilatitude FileShare role is when you want the DSC script to provision an smb file share for you on the machine which you have specified the role on. "FileShareLocalPath" and "FileShareName" are required only when you FileShare Role on one of your machines.
We do support external file shares. Just give the relative paths for server and portal parameters in Config Data Block. Example - Replace

[2019-05-23 01:21] pfoppe commented on #55
I'm having similar challenges on a physical Windows 2016 host.  I've been successful on many of our VM Windows 2016 hosts that are spun from a standard image.  But having issues writing to both C: and D:.  I was able to track it back to file system permissions on the C: and D: .

--- setup ---

I am a member of an AD global group.  The AD Global group is nested in to the local Administrators Group

[2019-05-23 02:18] amarilatitude commented on #174
Thanks for the clarification! Would be very useful if the wiki can be updated to include this information.

[2019-05-23 14:15] robal opened #175 "Trace-DSCJob error handling"
I'm having a hard time trying to catch the error when I run Configure-ArcGIS from my parent script.
Even when DSC job fails, the function does not return error code and does not output to stderr.

It does print the error message as red text to stdout. Why is it designed (to hide error) like this ?
https://github.com/Esri/arcgis-powershell-dsc/blob/72c8a26007170cbdf231ab024501e99d2d82274b/Modules/A

[2019-05-23 21:53] cameronkroeker commented on #55
@pfoppe

I think the issue is because AGS by default creates C:\arcgisserver\local\config-store to use for when the AGS Site Mode is changed to 'Read-Only'.

Even if a non-defualt path is used for the config-store and directories, like D:\arcgisserver or even C:\ags it will still attempt to create/access C:\arcgisserver\local\config directory. I believe this path can only be changed after the site

[2019-05-23 23:17] pfoppe commented on #55
Hey @cameronkroeker

Thanks for the response!  I've been watching the server side operations (on the host receiving the install) and I can see that the [icalcs.exe](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/icacls) is being executed which I assume is granting the correct permissions for the 'run as' account.  I can also see some messaging about this in the res

[2019-05-24 03:52] cameronkroeker commented on #55
Hi @pfoppe,

I suspect that the issue here is that PowerShell DSC is only setting the correct permissions for the specified domain AGS/DS 'run-as' account to the following locations (from your sample.txt):

[code]
I bet it's not setting correct permissions to C:\arcgisserver\local\config-store location.

I recommend manually setting the permissions outlined [here](https://enterprise.arcgis.com/en/

[2019-05-24 19:32] pfoppe commented on #55
Hi @cameronkroeker,

I just did another default install on a new physical host and have the same issues reported:

pdsc had no problem setting up the portal content directory on the D:\Portal\content\arcgisportal location.

I'm going to manually create these folders, grant full to the 'run as' account and try it again this afternoon.

[2019-05-24 20:04] pfoppe commented on #55
I granted the run as account to have full control on all the specified directories.  It made it further but died again:

I'll manually create the D:\arcgisdatastore reference, grant full control to the run as account and try again.

[2019-05-24 20:17] pfoppe commented on #55
That corrected the arcgis server datastore issue.  So it seems that pdsc is not granting the appropriate permissions for the 'run as' accounts to create the content directories (primarily server and datastore).  Portal seems fine.

[2019-05-24 20:37] cameronkroeker commented on #55
@pfoppe Does the same issue occur if a local account is specified in the role json file rather than the domain service account?

[2019-05-25 01:20] pfoppe commented on #55
Confirmed, same issue with a local account (unable to write to D:\arcgisserver\config-store).

I ran an uninstall, purged all server side directories, manually created a local account and re-executed the InstallLicenseConfigure option with the local account in the JSON file.  I can see it did set the correct local account for the windows NT services to 'run as'.  Just failed on the file system per

[2019-05-27 14:36] jhevenor opened #176 "Portal installed but site note created"
I'm updating my 10.6 templates to 10.7 using the new ArcGIS 2.0 powershell module. My template follows the 3 machine example.

The install appears to complete successfully, but I don't get URLs listed at completion like the examples show. When I load localhost:6443/ArcGIS on the portal machine I see that the portal isn't created. When I load localhost 7443/ArcGIS on the server machine I see that t

[2019-05-28 15:24] cameronkroeker commented on #176
@jhevenor

Looks like the software was only installed, not licensed or configured. I recommend passing `-Mode InstallLicenseConfigure` option in the `Configure-ArcGIS` PowerShell DSC cmdlet. Below are all the options:

`Configure-ArcGIS -ConfigurationParametersFile [[Path to Configuration JSON File]] -Mode [Install | InstallLicense | InstallLicenseConfigure | Uninstall | Upgrade] -Credential [Conf

[2019-05-28 15:29] jhevenor commented on #176
Thanks,  that looks like the obvious solution to my problem.  Are these options new at 10.7?

[2019-05-28 15:45] cameronkroeker commented on #176
Yes, I believe `InstallLicense` and `InstallLicenseConfigure` were introduced in v2.0.0. Previously there were only 3 options: `-Mode [Install | Uninstall | Upgrade] `.

[2019-05-29 18:48] pfoppe commented on #55
I am still running into file system permissions with both the pdsc InstallLicenseConfigure operations AND after pdsc execution is reported are successful. Many of the posts above show the issues with the actual pdsc execution, however as I'm looking through some of our other environments we are testing, we are also running into further issues.  And it doesnt seem to be consistent...

For example -

[2019-05-29 20:21] #176 closed

[2019-05-29 20:22] #174 closed

[2019-05-29 20:23] shailesh91 commented on #174
@amarilatitude Wiki will be updated in a coming release.

[2019-05-29 21:03] cameronkroeker commented on #55
@pfoppe

I recommend migrating this issue to a new thread to keep it separate, since its not entirely the same issue as the original one posted here and, also, it may be worth contacting Esri Technical Support to have them help troubleshoot and/or attempt to reproduce the issue.

Is the Configure-ArcGIS module being ran with a given credential or as local system account?

For example:
`Configure-A

[2019-05-29 22:54] pfoppe commented on #55
Thanks... I'll get a new issue going and try to summarize the experiences.

I am currently running with just:
`Configure-ArcGIS myfile.json InstallLicenseConfigure
`
I am logged into the script host server as an administrator and am executing to a remote system where I am also an administrator.  I am NOT providing any explicit credentials.  In fact, we do not have administrative username/password

[2019-05-30 06:21] shailesh91 commented on #163
@MAHDTech closing this issue as there is no activity. If the issue resurfaces please reopen this issue!

[2019-05-30 06:21] #163 closed

[2019-05-30 19:00] shailesh91 commented on #158
@MAHDTech Can you please tell which component (Server, Portal, Web Adaptor or Load Balancer) were you targetting while trying to import the new certificate?

[2019-05-31 00:37] dird-hyang opened #177 "The current license file for this portal is from previous version. please use the software authorization wizard to provide a valid license for Portal for ArcGIS"
When I run the upgrading for 10.5.1 to 10.6.1 on a single machine (base deployment), I got the following error message, the same message appear to all my servers in the department during new installation or upgrading process.

The same file can be used through manual configuration for both portal and server.

Could you advise why the issue constantly appear?

The message is:
[]PowerShell DSC resou

[2019-05-31 06:10] dird-hyang opened #178 "primarysiteadmin is different for portal and server"
Hi,
I'm in the middle of upgrading from 10.5.1 to 10.6.1.
I have encountered a problem where admin for portal and admin for arcgis server has different user names.
In the configure file, there is one PrimarySiteAdmin parameter. Which admin account I should assign for this, portal or server?
Helen

[2019-05-31 06:34] dird-hyang commented on #178
it would be good to have server and portal primary site variables separately.

[2019-05-31 10:40] MAHDTech commented on #158
I was testing with Portal and Server, both experience the same issue.

[2019-05-31 12:46] MAHDTech commented on #149
I also tested this recently and experienced the same issue.

A 10.6.1 install of ArcGIS Enterprise (Portal + Server + Data Store) results in the patches being installed. A second run over the top, such as making a small modification, results in the same patches being re-installed.

I have made a PR with some changes for review #179

One additional item of note, it seems that some of the supplied M

[2019-05-31 15:49] pcsswamin commented on #149
Thanks @MAHDTech. I have noticed the same and call it the 'Missing QFE_ID in patch' issue in house. I will incorporate your update and test it out at the next opportunity.

[2019-05-31 16:52] shailesh91 commented on #178
@dird-hyang As of now, we don't support separate primary site admin user variables for server and portal. To support this will require significant refactoring. Though we will consider this enhancement for a future release.

[2019-05-31 17:03] cameronkroeker commented on #177
Hi @dird-hyang,

Could you check the license keycodes file from the Portal machine in the following two locations:

C:\Program Files (x86)\Esri\License10.5\sysgen\keycodes
C:\Program Files\ESRI\License10.5\sysgen\keycodes

This file can be opened with a text editor (nodepad ++ is my recommendation but really any text editor should suffice).

Does either file contain previous versions of licenses?

[2019-06-03 00:03] dird-hyang opened #180 "Datastore upgrade 10.5.1 to 10.6.1 Relative Path is not supported"
Hi,
I encountered the error while upgrading the base enterprise from 10.5.1 to 10.6.1.
I have managed to go through the portal and server upgrade, now it stopped at data store upgrade.
I got two errors:
1. "Relative Path is not supported. The related file/directory is: \etc\upgrade.txt".
2. "Unable to connect to the remote server".
I have attached the verbose and error files and the configuration

[2019-06-03 21:42] shailesh91 commented on #180
@dird-hyang you are missing parameters. Please use the original JSON Config and modify it for upgrades. Specifically for datastore, you are missing param "InstallDir" in the attached config.
PS. Another issue I noticed is we don't support patching during upgrades.

[2019-06-03 21:45] shailesh91 commented on #55
@pfoppe if you don't use credentials you are essentially running your DSC Scripts triggered from Configure-ArcGIS commandlet are running as the system account.

[2019-06-04 16:46] shailesh91 commented on #112
@carstenpiepel closing this issue due to inactivity. Please reopen this issue if it persists!

[2019-06-04 16:46] #112 closed

[2019-06-06 22:45] pfoppe opened #181 "ArcGIS Server File System Permissions Issues"
I'm having similar challenges on a physical Windows 2016 host.  I've been successful on many of our VM Windows 2016 hosts that are spun from a standard image.  But having issues writing to both C: and D:.  I was able to track it back to file system permissions on the C: and D: .

--- setup ---

I am a member of an AD global group.  The AD Global group is nested in to the local Administrators Group

[2019-06-06 23:00] pfoppe commented on #181
Hi @shailesh91,

I saw your [message on the previous issue](https://github.com/Esri/arcgis-powershell-dsc/issues/55#issuecomment-498438225) that I was participating in:

but the system account has full control on the file system where the config-store/directories are to be installed.  Suggesting that NOT providing credentials will use the system account which has Full Control.  Thoughts?  Thanks

[2019-06-07 00:26] dird-hyang commented on #177
@cameronkroeker
Hi,
the Server is brand new and never installed the previous version.
Thus, there is only License10.6 folder exists in both directories. The license files are both states that the version is 106

[2019-06-07 16:52] cameronkroeker commented on #177
@dird-hyang

When manually authorizing the portal license file (which worked?), was the Software Authorization GUI used or was it authorized silently?

Perhaps you could attach the PowerShell DSC log file that contains the error?

[2019-06-08 03:16] dird-hyang commented on #180
Thanks. The issue resolved.
I have to manually update the arcgis server datastore connection list.
The link to solve the issue is at:

https://support.esri.com/en/technical-article/000017079
Thanks for the help.
Helen

[2019-06-08 03:16] #180 closed

[2019-06-08 03:18] dird-hyang commented on #177
@cameronkroeker
It was through the GUI with internet method.

[2019-06-10 22:59] dird-hyang commented on #177
@cameronkroeker
The log file attached. This is a brand new server running the full installation, license and configuration.
[BCBR1GIS6.zip](https://github.com/Esri/arcgis-powershell-dsc/files/3274077/BCBR1GIS6.zip)

[2019-06-11 04:19] cameronkroeker commented on #177
Thanks @dird-hyang. Does the "D:\InstallationPackages\Level1n2NamedUsersPortalforArcGIS_610961.prvc" file contain both Portal and ArcGIS Server licenses, or only Portal?

[2019-06-11 05:32] dird-hyang commented on #177
Only portal

[2019-06-12 16:23] cameronkroeker commented on #177
Thanks @dird-hyang. The PowerShell DSC ArcGISLicense log is indicating that the authorization of Portal 10.6 went through successfully:

[code]

However, it looks like the error is occurring when Portal attempts to configure, its not liking the contents of the file from C:\Program Files\ESRI\License10.6\sysgen\keycodes.

`PowerShell DSC resource ArcGIS_Portal  failed to execute Set-TargetResource

[2019-06-13 20:50] pfoppe commented on #181
Any feedback on this?  Specifically around required file system permissions?

And... if the commands are invoked by the local system account, that account already has 'full control' on the directory locations specified.

Thanks!

[2019-06-13 22:04] shailesh91 commented on #181
@pfoppe sorry I got a little confused earlier. The create site operation is failing that means the 'arcgis' local user account which is the run as service account doesn't have enough permissions on the required folders. This has nothing to do with which user is the cmdlet Configure-Arcgis being executed as. After I reviewed the code, as of now we only give permissions to the folders (ConfigStoreLo

[2019-06-14 13:09] cdbarker opened #183 "Local ArcGIS Data Store rule being created by WmiPrvSE.exe"
We have deployed a 10.5.1 SpatioTemporal Data Store on a single machine, registered with a server on another machine.

We have noticed that a local ArcGIS Data Store rule is being created during the process (which makes sense). However when this is removed, it is immediately recreated by a local WMI Provider process (WmiPrvSE.exe).
The rule contains rules for ports 2443, 9876, 29080, 29081, which

[2019-06-14 14:54] pfoppe commented on #181
Hi @shailesh91

Thanks for the followup.  **You are correct in that none of the folders do not exist before the execution.** I am running this on a brand new host ready for bits to be loaded.  This includes both the JSON config-file specified folders (ServerDirectoriesRootLocation & ConfigStoreLocation) along with non specified folders:
_C:\Program Files\ArcGIS\Server
C:\Python27
C:\arcgisserver\l

[2019-06-14 15:50] cameronkroeker commented on #183
Hi @cdbarker,

I believe there should be two separate rules created. One will contain ports 2443, 9876, 29080, 29081 for the Relational/TileCache stores and another one for the SpatioTemporal.

In the Windows Defender Firewall with Advanced Security console, in the Inbound Rules section do you see both rules or only one?

https://github.com/Esri/arcgis-powershell-dsc/blob/master/Modules/ArcGIS/Con

[2019-06-14 15:57] cdbarker commented on #183
Hi @cameronkroeker
Likely both were created but we have since got rid of local firewall rules in favor of group policy.
However the Relational/TileCache rule continues to be recreated after it is deleted.

[2019-06-14 16:31] cameronkroeker commented on #183
When is it regenerated, at reboot? What happens if the rule is disabled instead of deleted?

[2019-06-14 16:51] cameronkroeker commented on #183
@cdbarker

I recommend checking to see what the ConfigurationMode is set to in the DscLocalConfigurationManager. If its set to something like "ApplyAndAutoCorrect" then it is likely the reason the rule comes back after deletion.

Launch PowerShell cmdlet and run the following command:

`Get-DscLocalConfigurationManager`

For example:
[code]

[2019-06-24 18:01] pfoppe opened #184 "Offline Licensing"
Some of our environments are in an isolated network where the servers have no outbound internet access.  Our client machines generally do.

This is causing issues with licensing the products (issues detailed below). I'm assuming the ArcGIS psdsc module does not support this situation.  Is there a reccomended workflow to install the software, manually license, then complete the final configurations

[2019-06-24 18:05] nshampur commented on #184
@pfoppe .. you can acquire a license file with already activated keycodes from your account/licensing team.
This will avoid the phone back home to activate licenses.

[2019-06-24 19:07] pfoppe commented on #184
Hi @nshampur - Thanks for the response!  I'll look into this on the next execution.

[2019-06-25 22:47] bweisberg opened #185 "GeoAnalytics Server Role"
I'm setting up an all-in-one ArcGIS Enterprise + GeoAnalytics Server.  First I run InstallLicenseConfigure for a 10.7 Enterprise Base then a second InstallLicenseConfigure for GeoAnalytics Server.  In the Enterprise Server settings there is no Feature Analysis (GeoAnalytics Tools) selected.  I need to select the hosting server from the drop-down and save before the site is ready.
![GeoAnalyticsRol

[2019-06-27 15:34] cameronkroeker commented on #185
Hello @bweisberg,

Is the Base ArcGIS Enterprise and GeoAnalytics server all on the same node? Perhaps you could share your role json files?

Thanks,
Cameron

[2019-06-27 16:33] bweisberg commented on #185
Hi @cameronkroeker

Yes, all on the same node.  The base deployment and geoanalytics json files are attached in the zip.

[rolejson.zip](https://github.com/Esri/arcgis-powershell-dsc/files/3335746/rolejson.zip)

[2019-06-27 19:30] grumor commented on #165
Looking forward to test. THX

[2019-06-27 22:39] cameronkroeker commented on #185
@bweisberg

I suspect the issue is that the Hosting server and GeoAnalytics server reside on the same node. This isn't a recommended workflow.

["It is recommended that you install GeoAnalytics Server on a separate machine than those used by the rest of your ArcGIS Enterprise deployment. This workload separation ensures that the distributed computing framework does not compete with other resources

[2019-06-28 17:42] cameronkroeker commented on #183
Hi @cdbarker,

I wanted to follow up to see if my previous post helped resolve the issue?

[2019-06-28 17:45] #149 closed

[2019-06-28 17:46] #158 closed

[2019-06-28 17:46] #165 closed

[2019-06-28 17:53] #168 closed

[2019-06-28 17:54] #144 closed

[2019-06-28 17:55] #152 closed

[2019-06-28 18:01] pfoppe commented on #170
Thanks!

[2019-07-01 11:04] Biboba opened #187 "Upgrade ArcGIS Enterprise from 10.7. to 10.7.1 - Portal WA Install failed silently"
Hello,

I just upgraded from 10.7 to 10.7.1 and though everything seemed to be successful, I could not access the Portal as the wedadaptor was not registered with the Portal. Having a look at the log, I noticed that Portal Web Adaptor registration failed silently:
[code]

I ran again the configuration and everything went fine.

Many thanks for this library : it's awesome when everything work :)

T

[2019-07-01 11:11] Biboba opened #188 "Upgrade ArcGIS Enterprise from 10.7. to 10.7.1 - DataStore Upgrade failed silently"
I just upgraded from 10.7 to 10.7.1 and though everything seemed to be successful, the Hosting ArcGIS Server failed to validate my tileCache datastore.
Having a look at the log, I noticed that DataStoreConfigUpgrade failed silently:

[code]

I had to finish the job manually from DataStore web interface and it was successful.

Thanks

[2019-07-02 17:33] shailesh91 commented on #188
@Biboba it would be great if you could please attach JSON config files. It helps us immensely to repro the issue.

[2019-07-09 15:33] Biboba commented on #188
Here you are:
[ProdDeploymentUpgrade.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3373750/ProdDeploymentUpgrade.txt)

Thanks

[2019-07-10 08:50] cdbarker commented on #183
Hi @cameronkroeker Thanks for the above. I checked the ConfigurationMode which was set to ApplyAndMonitor. We have just started deploying on a new environment and this issue is not reproducible with the same machine config.

[2019-07-10 09:36] cdbarker opened #189 "Federate highly available ArcGIS Server"
Is it possible to federate a highly available ArcGIS Server? We currently use a single config to install a multi-machine ArcGIS Server site. This is load balanced by an existing load balancer. We then have to manually federate using the load balanced ArcGIS Server URL. I can't see any option to set the server URL during federation.

[2019-07-10 11:45] cdbarker opened #190 "Setting the Portal WebContextURL"
We are trying to install ArcGIS Enterprise 10.5.1 across 3 machines. The Portal has a friendly name (portal.friendlydomain.co.uk) which needs to be the Portal WebContextURL to avoid authentication issues.

The WebContextURL is taken from the certificate alias property (specifically the alias used for the portal web adaptor - correct me if I'm wrong). If this is set to the machine FQDN, the install

[2019-07-10 11:59] cdbarker commented on #190
It seems the sharing of content between the hosting server and portal (sample world cities, printing tools etc) is what failed. Server logs show:

Failed to import GIS services as items within the portal. This operation can only be performed by Portal Administrators.

Sharing these manually works.

[2019-07-11 14:18] scma-esrich opened #191 "Creating RasterDataStoreItem not idempotent (enough)"
When **re**running a configuration, where the Role "RasterDataStoreItem" with its corresponding parameters
[code]
is specified, it fails with the error-message:
_Die PowerShell DSC-Ressource "ArcGIS_FileShare" konnte die Funktion "Test-TargetResource" nicht ausführen. Fehlermeldung: "FileShareLocalPath already exist. Please Choose Another One!"
Die Funktion 'SendConfigurationApply' war nicht erfol

[2019-07-12 14:40] cameronkroeker commented on #183
Thanks @cdbarker. Since it's no longer reproducible in the new env I'll go ahead and close out the issue.

[2019-07-12 14:40] #183 closed

[2019-07-12 17:14] shailesh91 commented on #189
@cdbarker please try using the parameter - "ExternalLoadBalancer" along with the federation block.

[2019-07-16 04:06] dird-hyang opened #192 "upgrade base deployment from 10.6.1 to 10.7.1 fail after server reboot"
Hi,
I run the script to upgrade our base deployment from 10.6.1 to 10.7.1. The process runs successfully without error message. The portal can be accessed directly.
However, after the server reboot, I got the error message ArcGIS Web Adaptor: "Could you not access any Portal machines. Please contact your system administrator."
It seems something not set properly after upgrade.
Can you help to iden

[2019-07-16 17:35] shailesh91 commented on #192
Hey Helen,
Looks like portal service didn't come up correctly after a machine reboot. Please try starting your portal service and try again.
Thanks,
Shailesh

[2019-07-16 17:36] cameronkroeker commented on #190
Hi @cdbarker,

Which certificate was used when the friendly name was used for the alias property? The certificate that was issued to the machine name or certificate issued to the friendly name?

Also, are you able to attach the role json files used?

Thanks,
Cameron K.

[2019-07-17 02:20] dird-hyang commented on #192
Thanks for the feedback. After I set the service into delayed start, it works.
@shailesh91
Helen

[2019-07-17 02:20] #192 closed

[2019-07-17 02:27] dird-hyang opened #193 "install ODBC Driver as part of the installation package"
Hi,
It would be very handy to include the installation or update the ODBC driver as part of the configurable installation items.
We use SQL Server to store and manage most of our spatial data. I have to manually install the ODBC driver in order for the portal/server to register the connection file to the SQL DB.
This is just a wish list. Thanks for the consideration.
Helen

[2019-07-18 15:24] cdbarker commented on #190
Hi @cameronkroeker
The certificate used for all scenarios was a certificate for the machine, but with a SAN for the friendly name.
I will get the role ASAP.

[2019-07-19 16:56] spitzerr commented on #192
If you install manually I'm pretty sure the service is set on "delayed start" by default. Is it a legacy issue from your upgraded environment or is the DSC not setting the service to "delayed start"?
@shailesh91 could you double check on setting the service to "delayed start" on a fresh installation?

[2019-07-19 17:00] spitzerr commented on #170
@scma-esrich FYI

[2019-07-19 17:04] spitzerr commented on #168
@shailesh91 Could you please update the Wiki according to these new config parameters?
https://github.com/Esri/arcgis-powershell-dsc/wiki/Variables-reference-page-for-JSON-configuration-files
Thx

[2019-07-19 17:04] shailesh91 commented on #192
@spitzerr we set the service to an automatic start and not delayed start.

[2019-07-22 06:26] scma-esrich commented on #170
Thanks, @spitzerr. I already noticed that.

[2019-07-24 02:02] dird-hyang commented on #144
@shailesh91
Hi,
Can I use this DSC script to perform desktop & Pro upgrade?
Helen

[2019-07-24 15:45] pcsswamin opened #194 "Pro 2.4 Install issue and possible fix"
I had to add '2.4.19948' as a Pro version on this line

https://github.com/Esri/arcgis-powershell-dsc/blob/037b14af2d058f54c96a0f46f4facd9baf77579f/Modules/ArcGIS/ArcGISUtility.psm1#L1466

and the corresponding component code after the next line

'2.4.19948' = 'E3B1CE52-A1E6-4386-95C4-5AB450EF57BD'

https://github.com/Esri/arcgis-powershell-dsc/blob/037b14af2d058f54c96a0f46f4facd9baf77579f/Modules

[2019-07-24 16:51] shailesh91 commented on #194
@pcsswamin product code is wrong for Pro 2.4. We will make the necessary change in an upcoming minor release.

[2019-07-24 22:05] dird-hyang commented on #194
Hi,
Does this means we can use this ArcGIS version 2.1 to upgrade the Pro and desktop set?

[2019-07-25 04:01] lachlanwainwright opened #196 "Installing Insights on arcgis enterprise environments"
Hi
We have been using powershell to setup arcgis enterprise 10.7.1 in a DEV environment and need to install Insights.  I have taken a peek but cannot find any reference to this with the scripts, is insights included in the enterprise installation capability?

If it isn't included, is it possible to manually install and not affect the automation/script capability going forward (upgrades etc)

I loo

[2019-07-25 17:52] shailesh91 commented on #196
Hi Lachlan,
We don't yet support installing insights along with deploying ArcGIS Enterprise stack. This is in the roadmap but no definite ETA.
Impact on upgrades when doing a Manual installation of insight is unknown as of now.
Regards,
Shailesh

[2019-07-25 17:53] shailesh91 commented on #194
@dird-hyang as of now upgrades of Pro and Desktop is not supported by the DSC Module.

[2019-07-25 17:55] shailesh91 commented on #188
@Biboba I noticed you mentioned that only tile cache validation failed, was your relational datastore able to validate?

[2019-07-25 18:16] Biboba commented on #188
@shailesh91, Yes I was able to validate my relational datastore. There was no issue with it.

[2019-07-26 01:34] lachlanwainwright commented on #196
Hey Shailesh
Thanks for the info. I did install and out of interest ran the script again and no errors returned.

Can't wait for it to be included and if you do get the opportunity to test an u/g prior to inclusion I'd like to know the outcome.

thanks again
Lachlan

[2019-07-26 01:34] #196 closed

[2019-07-26 01:35] lachlanwainwright commented on #196
thanks again

[2019-07-29 18:32] PleaseStopAsking opened #197 "DataStore random failures"
Found that the ``ArcGIS_DataStore`` resource will randomly return a failure but checking ArcGIS Server and DataStore shows a successful connection.

From the below output, the issue seems to start on line 551 which is making a call to the ``Get-DataStoreTypesToRegister`` function which is then calling the ``Get-DataStoreInfo`` function which is then calling ``Invoke-ArcGISWebRequest``.

https://gi

[2019-07-29 21:41] PleaseStopAsking opened #198 "ArcGIS_Portal defaults to creatorUT for UserLicenseType parameter"
With the release of support for 10.7 and 10.7.1, ArcGIS Portal requires the selection of a UT/Role when creating the IAA. The ArcGIS_Portal resource is currently defaulting to the Creator role (creatorUT) regardless of what value is provided in the UserLicenseType parameter due to the way the below ``if`` statement is constructed.

If the resource should always use the creatorUT, the UserLicenseTy

[2019-07-30 00:08] pfoppe commented on #116
Is there a best practice/workflow for managing arcgis modules?

I started with the ArcGIS 2.0.0 module with the v10.6.1 installs.  I've pushed the latest 2.1.0 to all machines as described here - https://github.com/Esri/arcgis-powershell-dsc/wiki/Scripts-to-push-the-ArcGIS-Module

And the upgrade documentation states - https://github.com/Esri/arcgis-powershell-dsc/wiki/Upgrade-an-ArcGIS-Enterprise

[2019-08-05 01:13] Lobstersack opened #199 "Deploy ArcGIS 10.7.1 Portal - ArcGIS License Fail"
Hey Guys

Im attempting a multi machine deployment in a DEV environment and had recently had everything working for 10.6.1 Enterprise. with the project still not out of DEV i decided go with 10.7.1.

doing this i only changed the install, patches, licences path and version to the new 10.7.1 install
its now failing to create the MOF for ArcGISlicences  and i get this error below

attached is my DSC

[2019-08-05 07:19] spitzerr commented on #199
Hi,

at 10.7 and above you need to specify the `PortalLicenseUserType` for the Primary Site Admin. As I can see you didn't specify this setting in your json... Put something like Creator in there to get things running.

[2019-08-05 07:46] Lobstersack commented on #199
i did try this and it didn't work. but maybe I'm missing something (see below)

also found out it doesn't matter as there was a bug listed for the 10.7.1 [](https://github.com/Esri/arcgis-powershell-dsc/issues/198)

To insure I'm doing this properly. please see example below.

  "Portal" : {

            "LicenseFilePath" : "C:\\ArcGIS\\Licenses\\ArcGIS_Enterprise_Portal_107_283244_20190804.json"

[2019-08-05 15:19] pfoppe commented on #170
Please re-open.  I found another one on the data store upgrade at 10.7.1:
[code]
Thanks!

[2019-08-05 15:23] pfoppe commented on #170
And Another...
```[<SERVER>]:                            [[ArcGIS_Install]DataStoreUpgrade] Installing Software using installer at \\server\share\InstallMedia\Esri\10.7.1\ArcGISDataStore\setup.exe and arguments /qb USER_NAME=<USERNAME> PASSWORD=<PASSWORD>```

[2019-08-05 15:25] pfoppe commented on #170
And Another...
`[<SERVER>]:                            [[ArcGIS_Install]ServerUpgrade] Installing Software using installer at \\server\share\InstallMedia\Esri\10.7.1\ArcGISServer\setup.exe and arguments /qb USER_NAME=<USERNAME> PASSWORD=<PASSWORD>`

[2019-08-05 16:45] shailesh91 commented on #199
@Lobstersack Try without the LicensePassword field once. The snippet below has a bug, which might be causing the License File Path to be set to NULL in your case.

https://github.com/Esri/arcgis-powershell-dsc/blob/037b14af2d058f54c96a0f46f4facd9baf77579f/Modules/ArcGIS/Configurations-OnPrem/ArcGISLicense.ps1#L65-L69

[2019-08-05 23:43] Lobstersack commented on #199
Hi @shailesh91

i had a go, but it didn't it work. (see below)
"Portal" : {

            "LicenseFilePath" : "C:\\ArcGIS\\Licenses\\ArcGIS_Enterprise_Portal_107_283244_20190804.json" ,
            "PortalLicenseUserType" : "creator" ,
            "ContentDirectoryLocation" : "\\\\devapp265vs.dev.act.gov.au\\WorkDir\\PortalContent" ,
            "EnableAutomaticAccountCreation" : "False" ,

with th

[2019-08-06 11:09] Lobstersack commented on #199
Update: still getting them same error with fresh deploy.
I'm open to any ideas : )

[2019-08-06 17:40] shailesh91 commented on #199
@Lobstersack try deploying without "PortalLicenseUserType" parameter. It might default to temp user type that you can later modify.

[2019-08-07 00:51] Lobstersack commented on #199
@shailesh91 Tried this, didn't work (see example below )

I'm still getting the same error and it doesn't compile the config to a MOF file
    "Portal" : {

            "LicenseFilePath" : "C:\\ArcGIS\\Licenses\\ArcGIS_Enterprise_Portal_107_283244_20190804.json" ,
            "ContentDirectoryLocation" : "\\\\devapp265vs.dev.act.gov.au\\WorkDir\\PortalContent" ,
            "EnableAutomaticAccount

[2019-08-07 07:44] spitzerr commented on #199
Hi,

here are some Debug-Hints maybe we find some more clues on this.
What does `Get-DSCConfigurationStatus -All` say?
Could you run your Configuration with `-DebugSwitch` and show the Debug-Log here?

You could also try to enable DSC-Debugging if you think its related to the creation of the mof-file itself: https://docs.microsoft.com/en-us/powershell/dsc/troubleshooting/debugresource

Best,
-R

[2019-08-07 16:31] shailesh91 commented on #187
@Biboba We have identified the issue affecting registering a Portal Web Adaptor after Portal Upgrade. This is due to a reindexing operation as part of the WA Registration. This call from WA is timing out hence the 500 Error. This shouldn't affect your deployment in any manner if you rerun the upgrade.
We are working towards implementing a solution for this.

[2019-08-08 05:02] Biboba commented on #187
@shailesh91 Thanks for the feedback. Glad to read that you were able to identify the issue.

[2019-08-12 17:42] shailesh91 commented on #197
@PleaseStopAsking I have identified the issues. Parameter ServerURL is using the wrong variable "ServerURL" instead of "ServerSiteURL" in the following code snippet.
https://github.com/Esri/arcgis-powershell-dsc/blob/037b14af2d058f54c96a0f46f4facd9baf77579f/Modules/ArcGIS/DSCResources/ArcGIS_DataStore/ArcGIS_DataStore.psm1#L551-L553

[2019-08-13 21:21] pfoppe commented on #193
Vote Up!  This hit us today on testing out a PSDSC install of ArcGIS Enterprise.  We will be looking for alternative automated install options for the SQL Server Driver as well so that we dont have to manually complete this work.

Thanks for the consideration.

[2019-08-14 23:24] pfoppe opened #200 "Datastore no longer registered with server after 10.6.1 to 10.7.1 upgrade"
I recently upgrade an enterprise deployment from v10.6.1 to v10.7.1.  All output messaging and PSDSC logs indicated it was successful (no apparent errors), however accessing the portal settings page returned:
![image](https://user-images.githubusercontent.com/8226358/63061740-7aca1c00-beb3-11e9-9f04-49a2d7dccfa6.png)

and the hosting server failed to validate.  **The hosting server indicated it no

[2019-08-15 16:16] DCHuber commented on #193
Vote Up!

[2019-08-15 19:07] shailesh91 commented on #200
@pfoppe would it be possible for you to send over the logs files for the datastore upgrade part?

[2019-08-15 19:30] pfoppe commented on #200
Hi @shailesh91

Yes, see attached redacted log files.
[DataStoreUpgradeInstall-8-14-2019-11-02-45-AM-Verbose.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3506921/DataStoreUpgradeInstall-8-14-2019-11-02-45-AM-Verbose.txt)
[DataStoreUpgradeConfigure-8-14-2019-11-06-32-AM-Verbose.txt](https://github.com/Esri/arcgis-powershell-dsc/files/3506922/DataStoreUpgradeConfigure-8-14-2019-11-06-32-

[2019-08-19 16:28] shailesh91 commented on #200
@pfoppe I haven't been able to reproduce this issue or #188 which are appearing to be the same. Will keep you updated.

[2019-08-21 05:19] Biboba opened #201 "ArcGIS Enterprise 10.7 - Support for "Portal for ArcGIS Web Styles""
Hello,

From 10.7.1, "Portal for ArcGIS Web Styles" have been separated from the main setup:
[ArcGIS Enterprise 10.7.1 quick start guide—Quick Start Guides | ArcGIS Desktop](https://community.esri.com/external-link.jspa?url=https%3A%2F%2Fdesktop.arcgis.com%2Fen%2Fquick-start-guides%2Flatest%2Farcgis-enterprise-quick-start-guide.htm)

Would be nice if the library could allow to install it as well.

[2019-08-21 05:58] dird-hyang commented on #201
support this idea.

[2019-08-21 06:02] shailesh91 commented on #201
@Biboba @dird-hyang this is supported. The sample config files and wiki (Variables-reference-page-for-JSON-configuration-files) are already updated to reflect this.
https://github.com/Esri/arcgis-powershell-dsc/blob/037b14af2d058f54c96a0f46f4facd9baf77579f/SampleConfigs/Base%20Deployment/BaseDeployment-SingleMachine.json#L70

[2019-08-21 06:53] Biboba commented on #201
Awesome @shailesh91 !
My bad thanks.
Closing the issue then !

[2019-08-21 06:53] #201 closed

[2019-08-21 09:38] Biboba commented on #132
Hello @cameronkroeker,

 I finally had some time to come back to this issue and try to reproduce it without using 'arcgis-powershell-dsc' library.

  So let say my machine name is "foo" and have the alias "bar": it has thus several DNS entries.
After manually installing ArcGIS Server 10.7.1, I create the hostname.properties file and add the following entry:
[code]
I restart the ArcGIS Server servi

[2019-08-21 15:11] nshampur commented on #132
what does a DNS lookup for bar.company.com  look like
using nslookup
or PowerShell's Resolve-DnsName

[2019-08-21 15:18] Biboba commented on #132
`nslookup bar.company.com`

[code]

[2019-08-22 08:25] Biboba commented on #132
But FYI, if I remove the alias "bar" and just create a hostname.properties with the following entry:
`hostname=foo.company.com`
the file is overwritten anyway:
[code]

DNS lookup returns the following in this case:

`nslookup bar.company.com`

[code]

[2019-08-30 13:18] Biboba commented on #132
Support made me remove NodeAgentExt.xml file and now it does work properly:
the file is not overwritten.
"Since Openstack is operating as a private cloud, we assume the plugin is treating the machine as it would an EC2 instance in AWS".

[2019-09-02 13:35] Biboba commented on #132
FYI, a bug has been logged regarding this issue:
BUG-000124901 - "When deploying ArcGIS Enterprise to a Private Cloud, the AgsStartupPlugin treats the VM as an EC2 instance"

I am closing this issue as it is not related to arcgis-powershell-dsc.

Thanks for your help

[2019-09-02 13:35] #132 closed

[2019-09-04 21:43] pfoppe opened #202 "Web Adaptor Config - Unable to register with Alias (The web adaptor configuration URL has to be accessed from the machine hosting the web adaptor)"
I'm attempting a base enterprise build across 3 servers and have an alias applied through the SSL certificate (see attached redacted .json file):
- Machine0 - Portal, IIS, 2 webadaptors (1 for portal, 1 for server)
- Machine1 - Portal data store (relational)
- Machine2 - Federated/Hosted ArcGIS Server

The PSDSC execution indicates it fails on server federation:

But upon further inspection, the s

[2019-09-05 05:52] spitzerr commented on #202
Hi,

can you please clarify some things?
- first error message indicates there are problems in getting a token from the portal.
- second error message indicates the webadaptor could not be configured for PORTAL
- you write the WA is not configured for SERVER
could you please check, if one of the webadaptors has been configured or if both are failing.

Furthermore the DSC is using the commandline t

[2019-09-05 15:40] pfoppe commented on #202
Hi @spitzerr,

Sorry about the confusion.  After re-looking at the logs, the webadaptor for **both** portal AND server failed, I just copied out the failure messages for portal.  Here is the failure for the server -

I think the PSDSC output messaging ("First Error") is actually a subsequent error to the problem with the web-adaptor not registering correctly.  PSDSC cannot generate a token because

[2019-09-05 15:45] cameronkroeker commented on #202
@pfoppe

"_The web adaptor configuration URL has to be accessed from the machine hosting the web adaptor_"

For the above error, this is an ArcGIS Web Adaptor security feature, so that publicly accessible WA's can't be configured from any location.

As a workaround try temporarily adding an etc/hosts entry on the IIS Server. In the hosts file point the internal IP of the IIS Server to the DNS Alia

[2019-09-05 17:06] pfoppe commented on #202
Hi @cameronkroeker,

Thanks for the response!  **I think the local etc\hosts entry did the trick!**

There are a few complexities on this public deployment (compared to our internal deployments) and I think the real issue is that our alias (www.example.com) is an A Record pointing to a publicly accessible IP address to our Web-Application Firewall (WAF).  And since that public IP is not 'local' th

[2019-09-06 06:04] spitzerr commented on #202
I'd like to have this enhancement as well. But I think its not only done by changing the commandline arguments as the webadaptor then registers with localhost. It is furthermore necessary to update the webadaptor url via admin/rest call to have a clean installation. I guess it will work correctly as the webcontext url is set for portal and the arcgis server does not mind the webadaptor url at this

[2019-09-09 19:30] pfoppe commented on #169
For reference... If a .cer file is specified, the PSDSC configure will generate a new self-signed certificate with the specified alias and assign that to the IIS 443 bindings:

We then go in and manually upload the .cer and re-assign the binding the the trusted certificate file.

[2019-09-16 12:10] AdamBranscomb opened #203 "Getting started page does not mention 10.7.1"
As title. The getting started page says 10.7 is supported by does not explicitly mention 10.7.1.
The wiki says 10.4.1 and later is supported.

[2019-09-16 16:32] shailesh91 commented on #203
@AdamBranscomb we do support 10.7.1. Documentation will be updated to reflect the same. Thanks for pointing out the omission.

[2019-09-24 17:50] shailesh91 commented on #203
Fixed with v2.1.1!

[2019-09-24 17:50] #203 closed

[2019-09-24 17:51] shailesh91 commented on #194
Fixed with v2.1.1!

[2019-09-24 17:51] #194 closed

[2019-09-24 17:52] shailesh91 commented on #191
Introduced a new variable "ExternalFileShare" for Raster Datastore Items. Fixed with v2.1.1!

[2019-09-24 17:52] #191 closed

[2019-09-24 17:52] shailesh91 commented on #197
Fixed with v2.1.1!

[2019-09-24 17:52] #197 closed

[2019-09-24 17:53] shailesh91 commented on #170
Fixed with v2.1.1!

[2019-09-24 17:53] #170 closed

[2019-09-24 17:54] shailesh91 commented on #175
Fixed with v2.1.1!

[2019-09-24 17:54] #175 closed

[2019-09-24 17:54] shailesh91 commented on #198
Fixed with v2.1.1!

[2019-09-24 17:54] #198 closed

[2019-09-24 17:56] shailesh91 commented on #188
@Biboba  I have provided some stability fixes in V2.1.1, that should try to overcome this issue. Please let me know if v2.1.1 works for you.

[2019-09-30 09:44] CliveSW-online opened #205 "NuGet installation issue"
Greetings,

Due to security constraints we cannot download software from external or websites.

I placed the nugget.exe on the PC and installed by opening the file.
When I run Install-Module ArcGIS command in PowerShell, it still tries to download the NuGet file from 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409'????
It returns a "Not found" error??

Any suggestions.

Thanks,

Clive

[2019-09-30 09:54] CliveSW-online commented on #205
I also tried running:
Install-PackageProvider –Name “P:\My Documents\DEV\Portal\nuget.exe”

Still get an error: NoMatchFoundForProvider ???

[2019-10-01 02:51] hmelendez opened #206 "Use CloudStorage for portal content and server configuration store and directories"
Is there a way to specify cloud storage for the portal content, server configuration store, and server directories? I would like to be able to define the AWS S3 bucket, Azure File (SBS) or Blob storage when deploying on those environments.

[2019-10-01 08:04] CliveSW-online commented on #205
After about 4 hours!! I found a posting to download the NuGet module from a networked machine to an offline machine..

Pity there is not a help page for secure systems, that don't have internet access.

[2019-10-01 08:04] #205 closed

[2019-10-01 09:35] rowisequinor commented on #148
@shailesh91 has this been fixed for 10.7.1 ?

[2019-10-01 13:12] nshampur commented on #205
@CliveSW-online  - glad you got this resolved.

I didn't have a chance to post y'day, but installing PowerSHell modules can also be achieved via a Simple X-copy of the module into the PowerShell Modules directory (typically Program Files / PowerShell / Modules

The nuget update is needed for Install-MOdule to function.

[2019-10-01 18:35] shailesh91 commented on #206
@hmelendez As of now we haven't exposed the support for cloud storage. This is on the road map, but we don't have a definite timeline it will be available.

[2019-10-01 18:36] shailesh91 commented on #148
@rowisequinor This has not been fixed yet.

[2019-10-04 08:18] CliveSW-online opened #207 "Secure - "Disconnected Environment""
Apologies if this is a dummy question.

We are doing a Base Deployment in a secure and "Disconnected Environment" that does not have access to any external resources, internet...blagh...blagh.

I was reading through the help documents for downloading PowerShell Module for Server Offline. If I understood the documents you have a choice of setting-up a NuGet.server or an offline repository.

The pro

[2019-10-04 11:47] CliveSW-online commented on #207
I was unable to edit above to add a follow-up question.

If you are working in a and secure and "Disconnected Environment" is Chef or PowerShell environment the better solution??

[2019-10-04 14:09] nshampur commented on #207
@CliveSW-online - there are easier ways to get the ArcGIS Module on a machine.
Essentially a x-copy of the module into the PowerShell module folder should do the trick.
This location is typically in Program Files/PowerShell/Modules

[2019-10-07 10:30] CliveSW-online commented on #207
Apologies, perhaps my question wasn't clear. I wasn't able to edit/update the question.

1)
For PowerShell to work on a secure and "Disconnected Environment, do you have to install NuGet.server??

2)
Does Chef or Powershell work better in an automated Base Deployment working in a secure and "Disconnected Environment??

[2019-10-08 23:01] Clives-online commented on #207
On the on-line machine there are two repositories:
Get-PSRepository

Name                      InstallationPolicy   SourceLocation
----                      ------------------   --------------
PSGallery                 Trusted              https://www.powershellgallery.com/api/v2
LocalPSRepo               Trusted              F:\localhost\PSRepoLocal\

I copied LocalPSRepo to the server in a disco

[2019-10-09 15:55] pfoppe opened #208 "IIS/IWA EnableAutomaticAccountCreation not set correctly (10.7.1 using PSDSC 2.1.1) - default user type id must be specified"
Hello,

I recently deployed a new base v10.7.1 ArcGIS Enterprise on 1 machine (IIS, 2 web-adaptors, portal, server, datastore) using the "Configure-ArcGIS" <json file> InstallLicenseConfigure command.  This environment is setup with IIS web-tier authentication and the the automatic account creation was specified as "true".  See attached (redacted) .json file

Overall the execution appeared success

[2019-10-09 16:00] pfoppe commented on #200
I see this issue was referenced with the 2.1.1 release - https://github.com/Esri/arcgis-powershell-dsc/releases/tag/v2.1.1

I've completed 2 upgrades (from 10.6.1 to 10.7.1) with v2.1.1 and both of them have succeeded!

So its possible this issue is resolved with the "stability fixes for Datastore Upgrades".  I'm going to go ahead and close this issue for now.

Thanks!

[2019-10-09 16:00] #200 closed

[2019-10-09 16:15] pfoppe commented on #184
Update - I worked with our Esri account rep to enable our organization to generate an "Esri Secure License File" and was able to generate an ".eslf" license file.  I've used this file for 2 'offline' deployments with success.  Closing out this issue.  Thanks!

[2019-10-09 16:15] #184 closed

[2019-10-09 16:18] pfoppe commented on #170
I searched through the logs from a new v10.7.1 install with arcgis-powershell-dsc v2.1.1 and was unable to find any passwords being logged.  Thanks!

[2019-10-11 16:46] durbach commented on #207
@Clives-online @CliveSW-online
You don't need to use NuGet Server.  You'll need to get the NuGet provider and nuget.exe onto the disconnected machine.
Check out:
https://docs.microsoft.com/en-us/powershell/scripting/gallery/how-to/getting-support/bootstrapping-nuget?view=powershell-6#manually-bootstrapping-nugetexe-to-support-publish-operations-on-a-machine-that-is-not-connected-to-the-internet

T

[2019-10-15 15:36] KC-JJ opened #209 "Updating Portal and AGS licensing on existing deployments"
It would be great to be able to update the licensing on existing deployments by using the config file that was used to license the software in the first place.  I tried just running "InstallLicense" to update new licenses but the script looks like it's looking for anything with "svr" in the keycode file before it will update the license for AGS and I'm not sure how it's checking Portal's licensing

[2019-10-15 16:09] cameronkroeker commented on #209
Hi @KC-JJ,

Thanks for the feedback. One challenge with this is authorization keys have a finite amount of available authorizations. The PowerShell DSC arcgis module is idempotent, so if we made this change and the deployment fails then the same authorization key would be re-authorized each time. This wouldn't be ideal because then potentially the available authorizations would eventually be all u

[2019-10-15 16:14] KC-JJ commented on #209
Thanks for the reply @cameronkroeker
Maybe there just needs to be a switch like -UpdateLicense that would override the check and re-authorize that way it's not changing the way the check happens now, but the user would have the option to update that licensing per the deployment.  I do know that license management for administrators can be a challenge when you start looking at large scale HA deploy

[2019-10-18 12:25] scma-esrich opened #210 "Upgrade fails when working with a changed admin-password"
We had an issue with an Upgrade of a multi-machine Base Deployment from 10.6.1 to 10.7.1 due to a changed admin-password.

The steps that caused the issue:
- Multi Machine Base Deployment 10.6.1 (via DSC)
- Work with the platform for some time
- Change Portal-admin user password (built-in user)
- Start Upgrade to 10.7.1 with new password of the Portal-admin user via DSC
- Portal-Upgrade fails with

[2019-10-18 22:19] cameronkroeker commented on #210
@scma-esrich

Which version of arcgis-module was used for the upgrade, v2.1.1?

The portal admin password shouldn't be "hard-coded" anywhere in the powershell dsc module that I am aware of.

From the logs it looks like the portal upgraded fine:

`Response received from Upgrade site "{\"status\":\"success\",\"messages\" [],\"recheckAfterSeconds\":20}"`

But then the very next message, failed to val

[2019-10-24 09:30] scma-esrich commented on #210
@cameronkroeker, the DSC-version was 2.1.1 and the internal db admin account was not updated before the upgrade.

[2019-10-24 19:53] PleaseStopAsking opened #211 "7zip download failures"
The url being used to download 7zip within the ArcGIS_Install resource is now failing due to tls. With PowerShell 5 and earlier, the response is...

[code]

with PowerShell 6 and newer, the response is...

[code]

The fix is to either revert to using the http url or to add the following string before using Invoke-WebRequest. I wont submit a PR for this as it is likely easier to make the change you

[2019-10-24 20:33] shailesh91 commented on #211
@PleaseStopAsking You can also specify a local installer as a stop-gap. You need to specify the following two params in your config - SevenZipInstallerDir and SevenZipInstallerPath. More info in Variable reference (https://github.com/Esri/arcgis-powershell-dsc/wiki/Variables-reference-page-for-JSON-configuration-files)

[2019-10-24 20:40] nshampur commented on #211
@pcsswamin  - concern acknowledged.
In the past 7-zip changed the download links to require user interaction, hence the switch was made.

The ArcGIS installers don't support extraction at command line. If that's what you meant by built in extractors.

[2019-10-24 21:06] pcsswamin commented on #211
@nshampur - Thanks for the explanation. Documenting that reason and hence the need for 7zip for extracting ArcGIS installers somewhere in the wiki  would help many of us out.

[2019-10-24 21:20] nshampur commented on #211
@cameronkroeker  brought to my attention some silent options for extraction. I stand corrected.

We'll look into removing the requirement for 7 zip

[2019-10-24 21:35] pcsswamin opened #212 "ArcGIS Pro Patches get reinstalled: Not idempotent"
The QFE ID returned by DSC code from "HKLM:\SOFTWARE\ESRI\ArcGISPro\Updates\*"  does not match the one retreived from the msp file and so the Pro patches get reinstalled every time.

Snippets from my log file:
[[ArcGIS_InstallPatch]ProInstallPatch] Comparing QFE ID ArcGIS_Pro_241_170796 against ID QFE-24-PRO-Update241
 [[ArcGIS_InstallPatch]ProInstallPatch] Comparing QFE ID ArcGIS_Pro_241_170796 a